[2015-05-26 18:20] meunierd opened #1 "Highlighting for True, False & None in Python"
Right now these special values have the same highlighting as variables.

[2015-05-26 22:35] NLKNguyen commented on #1
Thanks for letting me know. I've just fixed it. Right now all Python builtin (including True, False & None) have the same color due to limitation of Python syntax highlighting comes with Vim. I'm looking for alternative plugin support. :)

[2015-05-26 23:18] #1 closed

[2015-05-26 23:38] NLKNguyen commented on #1
Check README for the suggested syntax plugin for Python :)

[2015-05-27 03:21] wedgwood opened #2 "dark version"
Why not make a dark version? :)

[2015-05-27 05:46] NLKNguyen commented on #2
Not right now :) I prefer light one for practical purposes as answered here [http://redd.it/36xzbs](http://redd.it/36xzbs). A first dark version may eventually come but will be in a different form as a port to Base16. After that, I'll figure out what to do next :)

[2015-05-27 05:46] #2 closed

[2015-05-27 13:50] meunierd commented on #1
Wow that's great thank you!

[2015-05-27 21:21] NLKNguyen commented on #1
You're welcome :smile:

[2015-05-29 17:59] mtglsk opened #3 "Tab numbers are hard to read"
Aka number of windows in a tab have this grey background against black letters which make them hard to see.

[2015-05-30 00:06] NLKNguyen commented on #3
Because Vim automatically bind those tab line colors to some other standard color highlighting of the scheme, they can't be set separately. I recommend to use one of these plugins that customize the tab line for better visual.

Plugin 'https://github.com/bling/vim-airline'
is the one I used in some of the screenshots. It displays the ordered tab number instead of number of windows, so you can easi

[2015-05-31 22:04] NLKNguyen commented on #3
Check out my [blog post](http://wp.me/pp2u4-oB ) for early vim-airline support before my submitted theme get merged into it.

[2015-05-31 22:04] #3 closed

[2015-06-01 15:20] meunierd opened #4 "Better Terminal Detection"
Neovim supports use of true colour in the terminal, but the way papercolor sniffs variables causes it to downgrade to terminal colours (which still look great! I only noticed side by side with gvim). There's an environment variable set for neovim true colour support that you could check.

see:

https://github.com/neovim/neovim/pull/2198

[2015-06-03 03:05] NLKNguyen commented on #4
Oh, I will take a look at it when I try out Neovim. Have never used Neovim before :)

[2015-06-03 06:34] stoeffel commented on #4
:+1: on that @NLKNguyen you should definitely try neovim

[2015-06-04 00:11] NLKNguyen commented on #4
Okay :D everyone is talking about Neovim nowadays. I'll give it a try this weekend.

[2015-06-05 08:38] sappo opened #5 "ctrlp highlights barely visible"
Hi,
first off, great job! I really like the theme!
I only have on minor issue. If I open ctrlp e.g. `:CtrlPMixed` the current selection is barely visible.

[2015-06-06 00:46] NLKNguyen commented on #5
Do you mean the gray background on the whole selected line or the background of the matched text? Can you take a screenshot?

[2015-06-06 08:53] sappo commented on #5
The gray background on the whole selected line.
The screenshot may not seem that bad but on bad notebook screens such as mine :( it's almost invisible.
![Screenshot of highlighting problem](http://fs1.directupload.net/images/150606/fw6ojij5.png)

[2015-06-07 07:10] NLKNguyen commented on #5
I just changed it to be more visible. Let me know if it's better now :)

[2015-06-07 07:24] NLKNguyen commented on #4
The colors in terminal Neovim and Vim look identical to me. Do you use mainly gVim or term Vim, @meunierd ?

When I try this (from the link), all colors turn off. I can't get it to work. Any suggestion?

    $ NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim
![screenshot from 2015-06-07 00 14 19](https://cloud.githubusercontent.com/assets/4667129/8023008/be794c56-0caa-11e5-8cc1-2b6258337f81.png)

I'm still not u

[2015-06-07 08:29] stoeffel commented on #4
It looks good in terminal neovim but in [neovim.app](https://github.com/rogual/neovim-dot-app) not.

* neovim.app
![screen shot 2015-06-07 at 10 24 29](https://cloud.githubusercontent.com/assets/1217681/8023194/840902dc-0cff-11e5-875a-acd5a8b86326.png)

* terminal
![screen shot 2015-06-07 at 10 26 13](https://cloud.githubusercontent.com/assets/1217681/8023203/b64c71de-0cff-11e5-8e4c-2b3a0ecbf770.p

[2015-06-07 08:30] sappo commented on #5
That will work. Thanks!

[2015-06-07 08:30] #5 closed

[2015-06-08 06:43] NLKNguyen commented on #4
I see. I haven't found the GUI version for Neovim on Ubuntu yet, probably not available. Could you please check if the same problem occurs with one of the Base16 themes?

[2015-06-08 06:44] NLKNguyen commented on #5
:smiley: :+1:

[2015-06-08 16:38] stoeffel commented on #4
Yop, I think there is no gui for neovim on ubuntu yet. I will try it with a base16 theme asab.

[2015-06-08 19:58] stoeffel commented on #4
this is with base16-monokai. The colors look not 100% right (in the terminal).
I think this is an issue with neovim.
![screen shot 2015-06-08 at 21 54 34](https://cloud.githubusercontent.com/assets/1217681/8043864/19ee78d4-0e29-11e5-860c-b321a7abea8d.png)

[2015-06-08 20:45] NLKNguyen commented on #4
Yeah, that's probably it. There is nothing I can do until they improve it. Thanks for testing :)

[2015-06-09 05:13] stoeffel commented on #4
Yop, I think you can close this and maybe we should open a issue in neovim or check if it's already known.

[2015-06-09 07:12] NLKNguyen commented on #4
Ok, I close it now. I think it's a bit too early considering the fact that they don't even have a standard GUI version yet. It seems more like Neovim.app's issue for now, so yeah it could be helpful if you open an issue there instead. I wouldn't be helpful there because I can't test it (don't have a Mac :smile: )

[2015-06-09 07:12] #4 closed

[2015-06-11 04:56] pickfire opened #6 "Base16 merge progress"

[2015-06-11 05:35] NLKNguyen commented on #6
Will start in early July and port to a couple of different editors as well :)

[2015-06-11 05:55] pickfire commented on #6
I hope you can port it to non-editors as well.

[2015-06-11 06:06] NLKNguyen commented on #6
What do you mean?

[2015-06-11 06:47] pickfire commented on #6
Other applications that uses the terminal such as mutt, newsbeuter, tmux ...

[2015-06-11 06:47] pickfire commented on #6
It doesn't matter now, as long as it is port to base16, it will have colorscheme for these applications too.

[2015-06-11 07:07] NLKNguyen commented on #6
Sounds great! :)

[2015-06-11 07:21] pickfire commented on #6
I like base16 but there is a downside of base16 too:

You provide the colour platelete but you need to use their **syntax highlighting method** (I can't find a suitable word for it).

[2015-06-12 01:43] NLKNguyen commented on #6
Yes, I realized their .erb template files determine the syntax highlighting. That's why I'm not going to make a Vim theme based on Base16 because its syntax highlighting is very limited and doesn't work well on terminal. I'm more interested in releasing the palette to be ported to other places :)

[2015-06-12 04:30] pickfire commented on #6
What are you gonna do next?

[2015-06-12 05:13] NLKNguyen commented on #6
Nothing changed. I will make a Base16 palette and use it to generate themes for other editors. I had requests for Atom and Sublime Text. And of course anyone can use the palette for other purposes.

Because the palette must include both light and dark theme, and I didn't design for the dark theme yet, I hold to next month when I will have more free time to explore the colors :) Eventually the Base

[2015-06-12 05:27] pickfire commented on #6
You are doing all by yourselves? I think you need some **collaborator** to help you. I can help you to review *some* merge and issues.

[2015-06-12 06:39] NLKNguyen commented on #6
Sure, that would be nice. This repo is kind of subjective design, and there is not much work actually. It's more about personal taste. However, once I make Base16 palette and merge it to Base16-builder, it certainly will be great to have someone to help port it to other places.

[2015-06-12 07:01] pickfire commented on #6
I think base16-vim need better syntax highlighting, would you suggest a better syntax highlighting for them? https://github.com/chriskempson/base16-vim/issues

[2015-06-12 07:05] pickfire commented on #6
I think the papercolor theme for vim airline should have different colour for different mode to notify the users. What do you think?

[2015-06-12 08:07] NLKNguyen commented on #6
I thought of that, but I think once I try build with Base16, I will have a better idea about the whole thing. But right now I don't think much about Base16-vim because the generated vim theme doesn't behave well on terminal, which is a deal breaker.

About vim-airline, I particularly don't like the way other themes do because I think they draw too much unnecessary attention to the status line, whi

[2015-06-12 15:22] pickfire commented on #6
I think beginners should be suggested to take `light` theme first. I suggest to add description in *README.md* for papercolor theme to be **less distractive**.

If you doesn't go with Base16, then you would make this the base repository for papercolor theme just like solarized? Or split it up into different repository just like what the solarized do now (maybe regretted)?

[2015-06-12 15:33] groigc opened #7 "Airline theme name"
If the airline theme is renamed from papercolor to PaperColor (the file and all ocurrences of papercolor inside the code) then `let g:airline_theme='papercolor'` would not be necessary.

[2015-06-12 16:48] NLKNguyen commented on #6
I wouldn't suggest that because people have different opinions :)

As I told you, I will make Base16 palette. I just don't use it to generate Vim theme. It can be used to generate other themes.

[2015-06-12 17:00] NLKNguyen commented on #7
That would be a good idea. I firstly started with lowercase because it's vim-airline's theme name convention, so I just followed the flow. It's now merged to vim-airline. The local vim-airline theme in this repo however doesn't have to follow any convention, so yes, it would be better to change it to match the color scheme name like you said. I will do it this weekend. Thanks for suggesting :)

[2015-06-12 17:10] groigc commented on #7
I'd make a pull request, but I'm not able to clone/pull/push anything from github right now.  Nice work with this colorscheme, btw. Is the only light colorscheme that caught my attention.

[2015-06-12 17:35] NLKNguyen commented on #7
Yes, please send a pull request :) Very glad you like this scheme :smile:

[2015-06-13 06:25] pickfire commented on #6
It will generate all theme that it can generate including vim.

[2015-06-13 06:50] pickfire commented on #6
To generate a theme for base16 just list out the 8 accent colors and 6 (if I am right) tone colors. So that is why solarized colors using base16 is a bit off because it uses 8 tone colors.

[2015-06-13 07:22] NLKNguyen commented on #6
All I meant is that I don't need the Vim theme generated from the builder because this repo is more optimal. I'm interested in using that builder to bring this scheme to other places. I'll take a deeper look at the builder later when I start working on that :)

[2015-06-13 07:22] #6 closed

[2015-06-15 13:45] pickfire opened #9 "Show palette"
Examples:

![solarized palette](https://github.com/altercation/solarized/raw/master/img/solarized-palette.png)
![tomorrow palette](https://github.com/ChrisKempson/Tomorrow-Theme/raw/master/Images/Tomorrow-Night-Bright-Palette.png)

And maybe you could **advertise** more by:

![solarized theme](https://github.com/altercation/solarized/raw/master/img/solarized-yinyang.png)
![solarized theme](https:/

[2015-06-15 14:12] Phyks opened #10 "Dark version?"
Hi,

Do you plan on doing one with a dark background, such as https://equinusocio.github.io/material-theme/ ?

Thanks!

[2015-06-15 14:38] groigc commented on #7
Pull request sent.

[2015-06-15 14:38] #7 closed

[2015-06-16 14:10] pickfire commented on #10
The owner said he will do it, but it is not so important.

[2015-06-16 14:12] Phyks commented on #10
I am a big fan of this theme, but could not work decently with a white background =( A dark background would be awesome :)

[2015-06-16 21:33] NLKNguyen commented on #10
Wow, that's a nice reference. I'll look into it when I start making the dark theme, and I planned to start in July :)

[2015-06-16 21:43] NLKNguyen commented on #9
Thanks for the reference :) There seems to be a lot of work to do that kind of advertising like Solarized, and I don't think I will do it myself :)  Once I make the dark scheme, I will just blog like I did.
I use Meslo font.

[2015-06-17 11:53] pickfire commented on #9
What about showing the palette?

[2015-06-17 16:46] NLKNguyen commented on #9
Yeah, that is feasible, and it will be after the dark theme is made because I might adjust some colors in the course of making it.

[2015-06-18 07:25] pickfire commented on #9
Closing

[2015-06-18 07:25] #9 closed

[2015-06-18 09:27] babygau opened #11 "Unable to use papercolor theme with vim-airline"
Hi @NLKNguyen ,
After putting `let g:airline_theme='papercolor'` in my `.nvimrc`, I got the following errors:

![screenshot](https://cloud.githubusercontent.com/assets/1514823/8228141/cefa80ce-15ef-11e5-8fe7-3d85cd65e9bf.png)

![screenshot](https://cloud.githubusercontent.com/assets/1514823/8228142/d0d6eea0-15ef-11e5-9fb2-8c1787314453.png)

[2015-06-18 10:19] Phyks commented on #10
@NLKNguyen Thanks!

[2015-06-18 12:06] groigc commented on #11
The Airline theme on this repository was renamed from `papercolor` to `PaperColor`. You only need to specify the Airline theme in case you are using other colorscheme than PaperColor; otherwise, setting `colorscheme PaperColor` will be enough.

[2015-06-18 12:26] babygau commented on #11
Thank you @groigc, it worked :+1:

[2015-06-18 12:26] #11 closed

[2015-06-18 19:33] #10 closed

[2015-06-22 19:10] habamax opened #13 "Is perl syntax intended to have variables and keywords colored as red?"
Other colorschemes make them quite distinct.
ex:
[code]

[2015-06-22 19:44] NLKNguyen commented on #13
Oh it wasn't designed for Perl yet. I'll look into it soon :)

[2015-06-22 19:55] habamax commented on #13
Ah, I see. Thanks in advance!
Btw, this colorscheme is one of the best I have used so far.

[2015-06-23 06:08] NLKNguyen commented on #13
Glad to hear that :)
Try out the new update and please let me know how it works out :smiley:

[2015-06-23 07:12] pickfire commented on #13
I think colorsheme looks good too, but it doesn't have highlight for ruler and it doesn't support a lot of vim add-ons such as gitgutter, syntastic ...

[2015-06-23 18:41] habamax commented on #13
@NLKNguyen thx a lot, it looks perfect now.

[2015-06-23 19:26] habamax commented on #13
@pickfire I guess you can create separate issues regarding each individual addons/rulers/etc.

[2015-06-23 20:07] NLKNguyen commented on #13
@pickfire I know right, there are so many of them :) but eventually more plugins will be supported depending on the plugin popularity and request. Syntastic seems like a good candidate.

@habamax Great :+1:

[2015-06-23 20:07] #13 closed

[2015-06-28 04:33] wedgwood commented on #10
Looking forward to seeing the dark version :)

[2015-06-29 01:22] NLKNguyen commented on #10
Just a couple of weeks :)

[2015-06-29 13:58] pickfire opened #14 "Better syntax group highlighting"
Look at https://github.com/w0ng/vim-hybrid#screenshots

It even provides highlighting to differentiate between different spell error.

[2015-06-29 20:54] NLKNguyen commented on #14
Yes, the group highlighting is definitely what I need to improve. I'll look into the spelling colors. I didn't realize that there are many error spelling types.

[2015-06-30 05:27] pickfire commented on #14
Same goes to me at first.

Maybe try to look into jellybeans too as he gets it from jellybeans too.

I think you should also look at colour for **diff**, check **syntax.txt** and provide [lightline](https://github.com/itchyny/lightline.vim) paper color theme as it is faster compare to vim-airline.

[2015-07-03 18:00] NLKNguyen commented on #14
I just added 4 types of spell checking colors. Try it out :smiley:

Since some Syntastic highlighting colors link to 2 of the spell colors, there's an automatic improvement over there too. I won't be focusing on lightline though. The vim-airline theme should provide enough of design guidelines for anyone who wants to port it to lightline. I can't just support all yet-another-status-line plugins ou

[2015-07-03 18:08] NLKNguyen commented on #14
I'll check out syntax.txt and group highlighting soon.

[2015-07-03 20:33] NLKNguyen commented on #14
I improved the group highlighting. I also added Folded color to make it more distinguishable, which I should have done a long time ago :)

[2015-07-04 12:03] pickfire commented on #14
I can't try it out as I am still using base16 solarized theme on my terminal.

Is there a color for diff?

[2015-07-04 14:28] NLKNguyen commented on #14
You mean vimdiff?

[2015-07-05 11:12] pickfire commented on #14
Yeah.

[2015-07-05 16:37] NLKNguyen commented on #14
I added it a month ago.

[2015-07-06 07:19] pickfire commented on #14
What about **TODO**?

[2015-07-08 23:06] szw opened #15 "Stops working under MacVim"
Hi!

Thanks for a cool theme! After the latest update it stopped working under MacVim. It seems to work in the terminal Vim though. Hope that could be fixed easily.

All the best

szw

[2015-07-08 23:45] NLKNguyen commented on #15
I don't have a Mac to try so can you please take a screenshot? Are there errors?

[2015-07-08 23:54] szw commented on #15
Sure. Here you have both, MacVim (doesn't work) and terminal (works). No error messages. :/
![zrzut ekranu 2015-07-09 o 01 49 51](https://cloud.githubusercontent.com/assets/341899/8585025/10b9ae98-25dd-11e5-81e0-3d9d7481f681.png)
![zrzut ekranu 2015-07-09 o 01 50 49](https://cloud.githubusercontent.com/assets/341899/8585019/08315c6c-25dd-11e5-9759-c8dca994735a.png)
(terminal might look a bit darke

[2015-07-08 23:59] szw commented on #15
BTW. This weird colors in MacVim are just defaults. So it seems PaperColor hasn't been loaded...? But I'm just guessing.

[2015-07-09 00:13] NLKNguyen commented on #15
Try again now

[2015-07-09 00:14] NLKNguyen commented on #15
wait, hold on

[2015-07-09 00:18] NLKNguyen commented on #15
Ok, it's up there. Hopefully it gets fixed. Also, please try the recently added dark version "PaperColor-Dark" as well and let me know how they work out :)

[2015-07-09 00:21] szw commented on #15
Now both work! Thanks :)

[2015-07-09 00:21] NLKNguyen commented on #15
Great!!! :+1: Thanks for reporting!

[2015-07-09 00:21] #15 closed

[2015-07-09 00:25] NLKNguyen commented on #14
I just added the dark color scheme, and both have highlighting for TODO (see new screenshots) and some improvements for vimdiff. :)

[2015-07-09 00:36] NLKNguyen commented on #10
The Dark PaperColor Rises :+1:

[2015-07-09 07:00] pickfire commented on #14
I like the light theme, but the dark color scheme background is a bit too stress for the eyes. I am using the default lightline theme, dejavu mono font.

On the **left**, there is *solarized* and on the **right**, there is *papercolour*. It seems that paper colour has no compatibility for syntax colour between light and dark colour.

I like paper colour as it is compatible the terminal default col

[2015-07-09 07:25] NLKNguyen commented on #14
Can you please go into the file PaperColor-Dark.vim and replace the background color code with one of these (ordered by the increment of brightness) and let me know which one gives the best result in your opinion:
`let s:background   = "#262626"`
`let s:background   = "#303030"`
`let s:background   = "#3a3a3a"`

About the syntax colors, I use the same for both light and dark. Maybe it's because th

[2015-07-09 08:11] pickfire commented on #14
I think that the colours for syntax highlighting should be the same, this is for the users who get bored of **light** to switch to **dark** so that they will be easier to switch, example: switching from *solarized* light to *solarized* dark doesn't feel much difference, just the background colour switches, but it is a bit time wasting to switch in solarized unlike paper colour.

![2015-07-09-15332

[2015-07-09 16:43] NLKNguyen commented on #14
Thanks for your input, I switched the background to #262626

I did try to retain the light color palette or only alter a bit when designing the dark scheme. That was my original plan, but I couldn't make it to be something I would like because it somehow lacked the feel of Material Design, which is what I'm following, so I went the other route to change the color palette. And yes, I agree that it

[2015-07-09 20:29] bruschill opened #16 "vim-airline dark theme"
Is there a dark theme for vim-airline in the works? If not, I may take it on myself.

[2015-07-09 20:30] NLKNguyen commented on #16
I haven't started yet. Please take it on if you will :) :+1:

[2015-07-10 05:34] pickfire commented on #16
I hope that it will be more like the lightline default theme.

[2015-07-10 06:13] pickfire commented on #14
Can paper colour theme use true colors (888 colours)?

Will the dark colour scheme get more improvement? I think that there is a lot of space for the improvement.

And is it difficult to read the text when there is sunlight?

[2015-07-10 06:50] NLKNguyen commented on #14
I have no idea about the availability of true colors in different terminals so am not sure if it's a good idea, considering the case of Solarized. I personally don't have a use case where I need true colors yet, so it's not in my plan now.

Sure, there can be improvement. It takes time for me to spend more time actually using it to realize what to improve. Any suggestion is welcome as always.

To

[2015-07-10 07:10] pickfire commented on #14
`nvim` support true colors, `vim` doesn't.

I am able to read in sunlight using the solarized dark version.

[2015-07-10 10:14] nyanpasu opened #17 "How did you get your font rendering to look that perfect?"
What's your setup?

[2015-07-10 17:30] NLKNguyen commented on #17
It's pretty much default Ubuntu's GNOME terminal emulator. I simply use Meslo font instead of the default font. It looks similar to default Mac OS X's terminal app too.

[2015-07-11 00:08] NLKNguyen commented on #14
I plan to make 2 schemes into 1 file, such that

set background=light
color PaperColor

set background=dark
color PaperColor

Do you think it's preferable to having them separate like right now?

[2015-07-11 13:09] pickfire commented on #14
Maybe, because I think it will affect the performance. It is just the same thing.

[2015-07-11 13:11] pickfire commented on #17
I like the **DeJavu** font but I dislike their symbols.

[2015-07-11 19:04] NLKNguyen opened #18 "Help make it possible to quickly toggle between dark & light variants"
Ideally only one PaperColor.vim file is needed for both variants. Now there is PaperColor-Dark.vim for dark variant in which the only different is the HEX code of color palette on top of the file.

Would like to be able to use tpope's vim-unimpaired plugin key: `cob` to toggle between dark & light

I tried on this branch of the repo
https://github.com/NLKNguyen/papercolor-theme/blob/unify_both_var

[2015-07-12 04:46] pickfire commented on #18
I think I can't help you as I don't know vim script. What do you mean `cob`?

[2015-07-12 05:55] NLKNguyen commented on #18
It's a key in vim-unimpaired plugin to toggle dark and light variants of a color scheme
https://github.com/tpope/vim-unimpaired/issues/58

It was requested for PaperColor here https://www.reddit.com/r/vim/comments/3cmbar/vim_papercolor_theme_gone_dark/csx4r94

It's alright. I will just keep them separately on the master branch like right now until someone helps to make it work.

[2015-07-13 02:52] NLKNguyen commented on #5
Just want to let you know that the default CursorLine color is light grey again, but now you can customize it in your .vimrc file. See the README. The example in there is actually the previous color that I changed for you before, so simply put it in your .vimrc if you still like that light blue color.

BTW, the dark color scheme is added :)

[2015-07-13 05:36] pickfire opened #19 "PaperColor-Dark: Dark Green needs some improvement"
When I look at the **dark green** colour in *PaperColor-Dark*, it is a bit difficult to see.

And do you have support for syntastic? It seems that the error is pink.

[2015-07-13 05:41] pickfire commented on #5
Maybe change the customization to something like the lightline customization:
![2015-07-13-134130_1596x861_scrot](https://cloud.githubusercontent.com/assets/4687791/8643321/e147dcda-2964-11e5-819b-e95ba9ac0cd8.png)

[2015-07-13 05:58] #14 closed

[2015-07-13 05:59] pickfire commented on #14
I think when the syntax is almost done, it is time to port **PaperColor** to **base16** or alternative to enable other application to use it.

[2015-07-13 08:34] pickfire commented on #19
And I notice that the **dark theme** is more towards *green*, just like **solarized** is more towards *blue*. Is that what you intended to do?

[2015-07-13 08:47] pickfire commented on #19
And the color for **comment** in *PaperColor-Dark* is **green**, should it be **gray**?

I once read an article about color, it said that **blue** is for relaxation, **green** is neutral and **red** is aggressive.

[2015-07-13 10:28] Grelek commented on #19
If we both mean [the same color](https://github.com/NLKNguyen/papercolor-theme/blob/master/colors/PaperColor-Dark.vim#L15), by my opinion it's very contrasting and easy to read.

[2015-07-13 13:20] pickfire commented on #19
What do you mean by that?

[2015-07-13 14:22] Grelek commented on #19
I think the green color doesn't need any improvements or adjustments.

[2015-07-13 14:22] pickfire commented on #19
Should I just close this?

[2015-07-13 17:34] NLKNguyen commented on #19
The authors of Syntasic link the highlighting against default spelling colors, and there is no local highlighting group for Syntastic to set them individually.

I would like to make the background toward green, but there is 256-color limitation. https://upload.wikimedia.org/wikipedia/en/1/15/Xterm_256color_chart.svg
Not all colors are available since this theme needs to work on 256-color terminal.

[2015-07-13 17:36] NLKNguyen commented on #14
Yes, it will be in near future.

[2015-07-13 17:38] NLKNguyen commented on #5
Good idea, I will try that.

[2015-07-14 03:39] NLKNguyen commented on #18
Thanks @renechz for solving https://github.com/NLKNguyen/papercolor-theme/pull/20 :+1:

[2015-07-14 03:39] #18 closed

[2015-07-14 03:46] NLKNguyen commented on #5
Turned out there are not many requested customizing options, so I'm not focusing on that right now, maybe in the future.

[2015-07-14 05:15] pickfire commented on #19
The terminal now are mostly true colors. Look at https://gist.github.com/XVilka/8346728 and currently only neovim supports it but vim doesn't.

Xterm colors is not so accurate and it depends whether you use xterm. So I think you should look at the color of other terminal.

![2015-07-14-131253_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/8666881/1a873430-2a2a-11e5-8857-99ec6a5d

[2015-07-15 17:33] Grelek commented on #16
How's the dark theme for airline going?

[2015-07-15 18:24] NLKNguyen commented on #19
If that is the case then I will mainly focus on Vim because it's the most common. Neovim still has a very long way to be as ubiquitous as Vim. The same goes for MacVim and other Vim variants. If the theme works fine in Vim, it will work just fine in others, but not vice versa. Also, true color code editor is just not really that important to me for now :)

Yes, it would be nice to take advantage o

[2015-07-15 18:25] #19 closed

[2015-07-15 21:54] bruschill commented on #16
I haven't gotten a chance to start yet, unfortunately. With that said, I'm also colorblind, so I'm not sure how well it'll go haha.

[2015-07-15 22:31] #17 closed

[2015-07-16 01:00] telemachus opened #21 "Lua support"
Thanks for this theme. I'm just getting to know it, but so far I'm enjoying the light version.

I'd love to see Lua support!

[2015-07-16 02:55] pickfire commented on #16
Then it is better to create a theme that looks good to those who have colorblind and ordinary person.

[2015-07-16 03:01] pickfire opened #22 "Add colour to operator"
I hope that *papercolor theme* would have colour on **operators** such as `+`, `=` and `-`.

[2015-07-16 06:36] NLKNguyen commented on #16
That's interesting. I'm curious to see how it will look :D

[2015-07-16 07:00] NLKNguyen commented on #22
That unfortunately can't be controlled by any color scheme. I really wish it could, but the syntax files (plugins) for the languages are the ones that decide whether to link the language operators against the standard "operator" highlighting color.

Most of syntax files just link them to default foreground color. In other words, there is no separate local highlighting group for the operators in or

[2015-07-16 07:10] NLKNguyen commented on #21
Sure, it will be added. I actually thought about adding LUA sometime ago when I first saw LOVE2D. I guess now is the good time to add it :)

[2015-07-16 07:17] pickfire commented on #22
Yeah, that works but will increase the startup time slightly.
[code]
Closing.

[2015-07-16 07:17] #22 closed

[2015-07-16 20:41] NLKNguyen commented on #21
I just added it. Check it out. ^^

[2015-07-18 01:08] shvetsovdm opened #23 "The border between windows can not be seen clearly"
![screen shot 2015-07-18 at 11 05 02 am](https://cloud.githubusercontent.com/assets/3574904/8759671/cd97584a-2d34-11e5-8a2d-af8e805ee9df.png)

[2015-07-18 05:04] NLKNguyen commented on #23
Nice catch! I just made it a little bit darker.

[2015-07-18 05:09] NLKNguyen commented on #14
I start this new project for porting PaperColor to other environments https://github.com/NLKNguyen/papercolor

[2015-07-18 12:05] telemachus commented on #21
Sorry not to get back sooner: It looks very good. I used it most of yesterday afternoon, and I'm liking it so far. (I'm red/green colorblind so the basic blues are very good for me. I may fork this and switch a few things though to remove a few choices that confuse me. Would that be ok with you?)

[2015-07-18 14:19] NLKNguyen commented on #21
Yes, please go ahead :) I'm totally okay with that.
 Just a heads up,  the built-in LUA syntax file for Vim maps syntax highlighting a little bit oddly compared to syntax files of similar languages  like Python and Ruby.

[2015-07-18 20:14] telemachus commented on #21
Thanks for the encouragement and the warning.

[2015-07-19 03:05] shvetsovdm opened #24 "Clojure support"
I saw you have clojure syntax highlight but it is commented out. I'll be happy to see clojure support. Do you need some help with testing the syntax?

[2015-07-19 04:01] NLKNguyen commented on #24
Yes, I definitely need help on that. I grabbed those highlighting from Tomorrow theme and haven't touched it because it seems big and because Clojure is more foreign to me than any imperative language.

Would you like to start designing it? and I can join later next weekend when I'll be available for this project.

I'm currently porting PaperColor to other environments: https://github.com/NLKNguye

[2015-07-19 06:00] pickfire commented on #14
I think you should saparate each project or you will end up like how solarized is now, unmaintained. And it will take a lot of time to download the whole repository.

[2015-07-19 06:47] shvetsovdm commented on #24
With pleasure.

[2015-07-19 17:43] NLKNguyen commented on #14
Agree. I sent pull requests to a couple of base16 repo for the currently supported environments. Later on, the papercolor repo will mainly contain links to those.

[2015-07-20 03:20] pickfire commented on #14
There are some feature that are not in base16, I hope you can add those too while making a pull request to base16. Nowdays, they seem to be less active.

[2015-07-21 17:24] thirtythreeforty opened #26 "Overriding color choices"
First, this is a very pretty color scheme!  I've tried dozens, and this is the first I genuinely like.

However, I do not like the lightened background (df7f3effea61cb509043d614235c9a0243dce7bb); I prefer the old one.  Is it possible for me to override this color in my Vim configuration?  (Because it's a script-scoped variable, I doubt it, but I'm not sure.)  If not, would you be amenable to intro

[2015-07-21 20:28] NLKNguyen commented on #24
Merged pull request https://github.com/NLKNguyen/papercolor-theme/pull/25

[2015-07-21 21:10] NLKNguyen commented on #26
I came up with this because I couldn't find the one that I genuinely like either :D

Currently you need to modify the color scheme file, but I would not recommend that because of hassle when updating. Instead, I'll find a way to make customization easier.

I'm thinking along the line:

[code]

[2015-07-21 21:22] thirtythreeforty commented on #26
I think that would work well, and lend itself well to source control (for dotfiles, etc).

Perhaps you could create a similar list internally, and then simply

    `extend(s:Dark_Colors, g:PaperColor_Dark_Override, "force")

to use the values the user specifies.

[2015-07-21 21:57] NLKNguyen commented on #26
I haven't seen that feature before, so I just did it the other way. Check out the recent update!

[2015-07-21 22:00] NLKNguyen commented on #5
@pickfire btw, I just modified the customization method like the way you suggested.

[2015-07-22 00:59] thirtythreeforty commented on #26
Works great, thanks!

[2015-07-22 00:59] #26 closed

[2015-07-22 08:38] ajpaulson commented on #21
You might also find the following plugins interesting for Lua support in vim as well as inspiration for things to highlight:
* https://github.com/xolox/vim-lua-ftplugin
* https://github.com/xolox/vim-lua-inspect

[2015-07-23 07:18] pickfire commented on #5
Thanks.

[2015-07-23 11:41] pickfire commented on #26
Is there support for rainbow parenthesis?

[2015-07-23 16:52] NLKNguyen commented on #26
No, it's not possible since the plugin doesn't have highlighting groups to be set by the color scheme. On the other hand, https://github.com/kien/rainbow_parentheses.vim already provides user customization. I can see that the plugin is particularly useful for Lisp like language. I may suggest a customization that match the theme; maybe in the wiki page in the future.

[2015-07-24 05:30] pickfire commented on #26
That is too old, look at https://github.com/junegunn/rainbow_parentheses.vim

[2015-07-24 06:17] NLKNguyen commented on #26
Oh, I'll take a look when I get the chance.

[2015-07-26 06:33] pickfire opened #28 "Slow startup time"
I had found out that *PaperColor Theme* slows down the startup. Full log here: http://pastie.org/private/fpfzj8opftoqgsohpvng
[code]
I hope you can speed it up. Thanks.

[2015-07-26 06:48] NLKNguyen commented on #28
I'm not familiar with this. I guess it's close to Tomorrow theme since I modified from it. How is the speed compared to other color schemes like Solarized or Gruvbox?

[2015-07-26 07:56] pickfire commented on #28
I use base16, it seems like base16 is faster.
[code]
Just take a look at the third field.

[2015-07-26 08:42] pickfire commented on #28
It seems it is even slower in **neovim**.
[code]

[2015-07-26 12:23] pickfire commented on #26
Try taking a look at nathanaelkane/vim-indent-guides.

[2015-07-26 16:18] NLKNguyen commented on #28
How do you do the test?

[2015-07-26 19:09] q0LoCo commented on #28
--startuptime?
my result is 156ms and gruvbox only takes 35ms.

[2015-07-26 19:34] NLKNguyen commented on #28
I mean, how do you get the number? what tool did you use so I can use to test?

[2015-07-26 19:42] NLKNguyen commented on #26
That's a cool plugin. I just added support for it.

[2015-07-27 05:40] pickfire commented on #26
Maybe I wil try to open an issue for everyone to add suggestion for plugin support, eg. rainbow_parenthesis.vim

[2015-07-27 05:43] pickfire commented on #28
I am using **Raspberry Pi 2**, so that is why I am getting slow results.

You can do it with just:
[code]

[2015-07-27 05:59] pickfire commented on #26
There seems to be have some problem as I am using base16. When I use vim-indent-guides:

![2015-07-27-135829_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/8899485/a53b20fe-3467-11e5-8dd5-15293aaee942.png)

Sorry, I forgot to used focus.

[2015-07-27 06:59] NLKNguyen commented on #26
It's supposed to look like this ![screenshot from 2015-07-26 23 53 37](https://cloud.githubusercontent.com/assets/4667129/8900131/9c6ee0ee-33f1-11e5-9987-59bdfffcf519.png)

I made it alternates between the background color and cursorline color, so there should be no additional color.

[2015-07-27 07:49] pickfire commented on #26
So, is there anything wrong with my terminal?

You can take a look at my dotfiles: https://github.com/pickfire/dotfiles

I want to make a prompt for vim-lightline, should I do it?

[2015-07-27 08:16] pickfire commented on #19
The dark theme does seems a lot different from the picture and the light theme do have some differences in colors from the README.md:

![2015-07-27-160916_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/8901275/3062d002-347a-11e5-95d0-f3a699e56aef.png)

![2015-07-27-161405_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/8901344/b3203908-347a-11e5-9536-c0d9dcdd

[2015-07-27 16:03] NLKNguyen commented on #26
Did you put `let g:indent_guides_auto_colors = 0` in yet? It's from the plugin instruction.

You have this in your .vimrc, which might cause the problem:
[code]

Try replace them with only `let g:indent_guides_auto_colors = 0` instead.

I don't know what a prompt for vim-lightline is. Are you talking about a theme for lightline similar to airline?

[2015-07-27 16:18] NLKNguyen commented on #19
The screenshots are usually outdated. I modified some colors since then. I will make some new screenshots at some point. What you have now is as intended (except the indent guides of course).

I used Byzanz software to make the GIF screencast, but I would look for a better alternative. I got the information from [here](http://askubuntu.com/questions/107726/how-to-create-animated-gif-images-of-a-sc

[2015-07-30 08:11] shvetsovdm opened #29 "Difference between s:red and s:pink so barely visible"
![screen shot 2015-07-30 at 18 04 51](https://cloud.githubusercontent.com/assets/3574904/8978521/dd6e7a0c-36dd-11e5-9b0b-4cdcc68e09f6.png)

This is your intention?

[2015-07-31 01:25] NLKNguyen commented on #29
It's kinda intentional in some languages  I designed for, where s:pink and s:red don't appear next to each other. For example in C++, I use s:pink for type and s:red for include or try/catch. In some other languages, it's unfortunate, and I have yet to find a good solution.

[2015-07-31 14:29] pickfire commented on #19
I think it seems like the colors for the screenshot (some of it) is a bit better than the current status.

[2015-07-31 14:37] pickfire commented on #26
It seems like there is a theme for paper color in lightline. https://github.com/itchyny/lightline.vim/commit/967501e7a1cc96ef3aac596741e5ec30dc8ed566

Thanks, it works now after I add `let g:indent_guides_auto_colors = 0`, I hope that it came preconfigured with that.

[2015-08-01 04:38] NLKNguyen commented on #19
Yeah, there are improvements/trials needed for the dark variant. It'll take some time.

[2015-08-02 06:07] NLKNguyen commented on #29
I made the s:red darken a little bit. It does not make much difference though. It has to be red because of design constraint, but there are not many tones available in in 256-color.

[2015-08-02 06:09] NLKNguyen commented on #19
I made some small changes of color code in dark variant.

[2015-08-02 08:57] pickfire commented on #19
Yeah, it seems like the background is lighter now.

[2015-08-03 08:33] pickfire commented on #26
This is the image preview of papercolor theme in lightline.

![2015-08-03-163232_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/9033813/4e54cd30-39fd-11e5-9d43-2178ed54d43d.png)

Is there any support for https://github.com/mhinz/vim-startify?

[2015-08-03 09:30] shvetsovdm commented on #29
![screen shot 2015-08-03 at 7 28 17 pm](https://cloud.githubusercontent.com/assets/3574904/9034790/6f2df6fc-3a0d-11e5-8d01-657544834d7a.png)

In my opinion it looks worse now. Red do not looks like red more like brown. I do not mind how it was before. I'm sorry for what I have created confusion)

[2015-08-03 09:41] pickfire commented on #29
I did not notice that `include` is **red** too, I thought it is **light brown**.

[2015-08-03 10:20] pickfire opened #30 "Support for neovim new highlight group"
Look at https://github.com/mhinz/vim-janah

[2015-08-03 12:59] pickfire commented on #26
Testing video preview with `asciinema`.

[![asciicast](https://asciinema.org/a/2oyramhlycesrylet0vq2ek0a.png)](https://asciinema.org/a/2oyramhlycesrylet0vq2ek0a)

[2015-08-03 18:11] Phyks opened #31 "Enhance comment readability"
Hi,

I tried the dark version and I really like it. But I think comments (which are greyish on my screen) are not really readable, especially with a lot of sun and not much backlight, which was also my main concern about molokai.

Perhaps there could be a way to ease comment readability?

![2015-08-03-200939](https://cloud.githubusercontent.com/assets/3856586/9044230/9b87a690-3a1b-11e5-994d-9663d1

[2015-08-03 21:33] NLKNguyen commented on #29
I looked at the syntax color in a blog [post](http://jcrowther.io/2015/05/26/using-polymer-webcomponents-with-angular-js/) the other day and thought the dark red would be nice. I will roll the old red color back then.

[2015-08-03 22:33] NLKNguyen commented on #26
Nice. Can you make a separate issue for Starify? It will be easier for me to remind myself.

[2015-08-03 22:38] NLKNguyen commented on #30
Since I don't usually use Neovim, I'm not going to support it soon because I'm not familiar with the new groups in there. I'll keep that in mind though.

[2015-08-03 22:38] #30 closed

[2015-08-03 22:44] Phyks commented on #31
Note: Same thing for matching cursor highlight.

[2015-08-03 23:06] NLKNguyen commented on #31
The comment color was actually different before the last update. I just tested it out, but now I roll the old color code back :) (it should look greenish like the screenshot)

The paren-matching color is intentionally chosen to be just subtle enough to see the match. If it were high contrast, it would have created a confusion about where the actual cursor is currently at. I see people trying to tu

[2015-08-03 23:07] #23 closed

[2015-08-03 23:07] #24 closed

[2015-08-03 23:09] Phyks commented on #31
Thanks for the comments appearance!

Concerning the paren-matching color, in a (too) well lit environment, with not much backlight, I am totally unable to distinguish the matching paren. I think it is good that it is subtle, but it is too subtle, no?

[2015-08-03 23:16] NLKNguyen commented on #31
I will add a customizable option for that in the next update and let you know. In the mean time, just use the light variant in that environment then :D The original PaperColor is the light variant which is designed exactly for that purpose.

[2015-08-03 23:18] Phyks commented on #31
Thanks!

I am not used to light terminals, but I think I should give it a try in such environments. However, in light variant, my cursor is white on whitish-grey background and not really readable (contrary to dark theme where it is white on grey).

I think this may come from my terminal settings, but is there something that can be done from the theme?

[2015-08-03 23:31] NLKNguyen commented on #31
There is none that I know of. The cursor background should be the same color as the foreground of the highlighting group where the cursor is currently at. I guess it's indeed your terminal settings.

[2015-08-04 04:02] shvetsovdm commented on #29
@NLKNguyen nice, thanks!

[2015-08-04 06:10] pickfire commented on #31
Why is the comment **grey**? It is **green** in my terminal.

![2015-08-04-141021_796x861_scrot](https://cloud.githubusercontent.com/assets/4687791/9054337/91de8f5e-3ab2-11e5-9245-2b53f07bdc47.png)

[2015-08-04 06:21] pickfire commented on #30
Taken from nvim help pages:
[code]
Removed highlight groups:
[code]
If you need any more help pages, I will search it for you. Thanks.

[2015-08-04 06:24] pickfire commented on #30
More info:
[code]

[2015-08-04 06:26] pickfire opened #32 "Add support for vim-startify"
https://github.com/mhinz/vim-startify

[2015-08-04 06:46] NLKNguyen commented on #30
Thanks, I'll go back to this reference when I'm on it.

[2015-08-04 06:51] NLKNguyen commented on #31
I tried the gray in the previous update. It's back to green now.

[2015-08-04 07:08] pickfire commented on #31
I hope that the green can be more easily to distinguish from the code as it currently seems like part of the code. Maybe try making it darker or lighter.

[2015-08-11 01:23] NLKNguyen commented on #31
@Phyks I just added `matchparen` customizable option. You can check README for usage :)

[2015-08-11 01:28] NLKNguyen commented on #32
It's now supported ^^, except some parts I don't know how to setup in order to test.

[2015-08-11 01:32] NLKNguyen commented on #16
How is it going?

[2015-08-11 05:41] bruschill commented on #16
Unfortunately I haven't had a lot of time to work on it. I'll see if I can get to it this week and I'll report back.

[2015-08-11 06:35] NLKNguyen commented on #16
Ok sure, just take your time :+1:

[2015-08-12 13:27] pickfire commented on #32
Well done!

[2015-08-12 13:27] #32 closed

[2015-08-13 13:04] pickfire commented on #28
I think the reason why *papercolor* is slow is because that it has **1000+ lines**, *base-16* only have **300+ lines** and some random colorscheme I found is only **about 100 lines**.

[2015-08-13 17:40] NLKNguyen commented on #28
Partly because of that, but more precisely, it's the number of function calls and string processing on each line of the design section. It's from Tomorrow theme, and the way it does is not necessary for PaperColor. I have some idea of how to make it load a lot faster. I'll do it sometime in the future.

[2015-08-14 07:08] pickfire commented on #28
I suggest to look in base16 and jellybeans, I used base16 and found out that it have good startup time, which is about half of the time compared to papercolor. I suggest jellybeans because the author of vim-hybrid found out jellybeans have good colorscheme or something else.

[2015-08-21 09:51] pabuisson commented on #31
Well I was heading over here to discuss this exact same topic. I was hoping we could maybe have them much less saturated by default, current green looks really distracting to my eye... quite the opposite of @Phyks :)

Maybe we could try an intermediate value between the current `#5f875f` and the previous attempt using `#808080` ? Or add this as an option, maybe ?

[2015-08-22 04:47] NLKNguyen commented on #31
Ok, I'll give it another try and also make it an option ^^

[2015-08-22 13:38] pickfire commented on #31
Maybe try something maybe look like a bit **blue** and **green** but not easily distracted by the colour.

[2015-08-22 19:32] NLKNguyen commented on #31
I just made it lighter than the last grey color, and it's customizable now. The sample color code for the dark override setting in README is the previous green.

[2015-08-23 08:51] pickfire commented on #31
Good job, it looks better now.

[2015-08-23 09:22] pabuisson commented on #31
The default looks perfect to me. And the fact that it is customizable is great as well. Thanks a lot :+1:

[2015-08-23 12:02] pickfire commented on #31
It sems that `nvim` background colors is a lot lighter than `vim` when using a dark background.

![2015-08-23-200059_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/9428135/cbbcfb74-49d1-11e5-82fc-735460a62e6e.png)

[2015-08-30 12:41] morhetz commented on #28
Hi, it seems that papercolor startup time is slowed down by functions computing terminal 256 palette fallbacks (CSApprox like behaviour).
Dropping out `" ctermfg=" . <SID>rgb(a:fg)` and `" ctermbg=" . <SID>rgb(a:bg)` speeds up runtime from ~100ms to ~12ms.
Gruvbox mean load time is ~50ms for me, so I should probably think about optimising at a bit too.

[2015-08-30 13:27] pickfire commented on #28
I hope that it can just use True Colors if the terminal support truecolors.

I am not sure about that, need to ask @NLKNguyen about it.

What do you mean Gruvbox?

[2015-08-30 13:59] morhetz commented on #28
@pickfire
[gruvbox colorscheme](https://github.com/morhetz/gruvbox) average load time

[2015-08-31 03:53] pickfire commented on #28
Gruvbox colorscheme have nice colour but it seems that the screenshot is not so good.

[2015-08-31 08:15] morhetz commented on #28
@pickfire
If you have gruvbox issues, please:
1. [read docs first](https://github.com/morhetz/gruvbox/wiki/Terminal-specific)
2. open issue at gruvbox repo issues

It's not polite asking well known and documented questions at other project's issues.

[2015-08-31 11:04] pickfire commented on #28
Sorry, but I hope @morhetz can fix this issue and create a pull request to @NLKNguyen.

[2015-08-31 18:13] NLKNguyen commented on #28
@morhetz Thanks for pointing out :+1:. Since this colorscheme is based on 256-color (although there are still some leftover color codes from Tomorrow-theme), the programmatic conversion from true color to 256-color can be avoided.

I plan to do it manually by hand like this for example. It's essentially the fallback method you mentioned, except they are the same color by design.
[code]
Then use `s

[2015-08-31 18:28] morhetz commented on #28
@NLKNguyen Thanks :)
PaperColor is very-very nice and heavily tuned. It's always а pleasure to read sources of thoroughly made colorcheme.

That's the way I've just roughly optimised gruvbox. Average load time dropped from ~50 to ~20.
It's not release ready yet, but you could take some inspiration from s:HL function.

[gist: gruvbox_optimised.vim](https://gist.github.com/morhetz/211effd81510aa43f4

[2015-09-03 13:35] pickfire opened #33 "Better dosini filetype syntax highlighting"
![2015-09-03-213426_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/9659520/95d1d984-5283-11e5-993d-821956bfacf4.png)

I like the current papercolor colour for **dosini** syntax, it just seems that it doesn't highlight the title, eg. `[asdf]`.

[2015-09-04 06:45] NLKNguyen commented on #28
I just improved the speed. Apparently, it gets 7x speed up from ~100 to ~14 on my computer. Guys, please let me know how it performs on yours.
@morhetz when yours is ready, I like to test Gruvbox startup speed on my computer as well.

[2015-09-04 06:47] NLKNguyen commented on #33
Okay, I'll add support for this file type.

[2015-09-04 07:07] pickfire commented on #33
Good luck and have a nice day!

[2015-09-04 07:10] pickfire commented on #28
Wow, congratulations! I get **14x faster** here.

Before:
[code]

After:
[code]

[2015-09-04 07:15] NLKNguyen commented on #28
Great haha :+1:

[2015-09-04 07:24] NLKNguyen commented on #28
I'll close this after a few days in case of further discussion.

[2015-09-04 20:01] NLKNguyen commented on #16
I guess I'll just go ahead and make it then.

[2015-09-05 04:01] morhetz commented on #28
@NLKNguyen it's 10.250 with papercolor vs 7.025 with gruvbox for me, and i doubt it matters :)
though you could also pseudo-memoize common groups to `hi! link CommonGroupName` to decrease calculations, string concatenations, etc.

[2015-09-05 04:13] NLKNguyen commented on #28
Great! I just leave it like that for now since It's fast enough :D

[2015-09-06 09:34] pickfire opened #35 "Add mail syntax highlighting"
Hi, I hope you can add syntax highlighting for mail so that I could use the colorscheme in mutt.

Good luck and have a nice day!

[2015-09-07 05:08] NLKNguyen commented on #35
There is even a mail file type?!!

How to view it? I need some example to work on. I've never seen this file type.

[2015-09-07 05:54] pickfire commented on #35
Solarized seemed to have a nice color.

![2015-09-07-135050_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/9710024/c01fe302-5567-11e5-9340-9c02aa7ecc23.png)

Seems that email is missing.

![2015-09-07-135138_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/9710025/c0d5d360-5567-11e5-94f7-d705e4de8b8e.png)

Unreadable with green text on green background.

![2015-

[2015-09-07 05:59] pickfire commented on #35
Maybe we could try to add those screenshots into the wiki.

[2015-09-07 06:17] NLKNguyen commented on #35
Can you send me a sample file so I can test?

[2015-09-07 06:24] NLKNguyen commented on #33
I added it. Try it out :)

[2015-09-07 07:00] pickfire commented on #33
Thanks, it seems nice for both light and dark background.

Good luck and have a nice day!

[2015-09-07 07:00] #33 closed

[2015-09-07 07:14] pickfire commented on #35
Sure, http://pastie.org/private/dppzppehlrkbp2zksbayq

And here is the image for solarized light.

[2015-09-07 19:25] NLKNguyen commented on #35
I added Mail support for the syntax available in that file. Does this file type have a file extension anyway?

![screenshot from 2015-09-07 12 02 42](https://cloud.githubusercontent.com/assets/4667129/9721902/72537576-5558-11e5-93b5-3de32013a896.png)
![screenshot from 2015-09-07 12 02 23](https://cloud.githubusercontent.com/assets/4667129/9721903/725aa38c-5558-11e5-9eec-811c3c42e7db.png)

I also c

[2015-09-07 21:04] #31 closed

[2015-09-07 21:05] #29 closed

[2015-09-07 21:05] #28 closed

[2015-09-08 06:07] pickfire commented on #35
It seems nice but I still hope you can add color for the *signature* below.

I don't know how they used it but I use it without file extension. In My Humble Opinion, I think you shouldn't depend on file extensions as it will break scripts without a file extension.

Did you add support for **restructured text** too?

[2015-09-08 06:33] NLKNguyen commented on #35
The built-in mail syntax file doesn't have syntax group for the signature in order to be set.
No worry, I was just curious about the file extension. The color scheme doesn't depend on that. It's always up to user's configuration to set the file type appropriately.

I don't know about restructured text. Perhaps you can create another issue and let me know how to test it.

[2015-09-08 06:41] pickfire commented on #35
I am not sure about that but it seems that base16 did that. I think you could try checking https://github.com/chriskempson/base16-vim/blob/master/colors/base16-default.vim#L166 out.

I will create an issue about restructured text later. I think that we should split the color in wiki between light and dark background. Do you agree with it? If you agree, I will do it later.

[2015-09-08 07:12] NLKNguyen commented on #35
Can you show a screenshot which the signature has a different color with Base16? I don't know what 'SignColumn' is for, but modifying it doesn't show any different color for me.

Yes, that would be a good idea. Please go ahead and split it :+1:

[2015-09-08 07:52] pickfire commented on #35
Maybe that is for Signify. Sorry about the signature, it is the work of `mutt`.

[2015-09-08 08:19] pickfire opened #36 "Add restructured text support"
http://docutils.sourceforge.net/docs/user/rst/cheatsheet.txt

[2015-09-09 08:57] bruschill commented on #16
@NLKNguyen I just haven't had the time to put toward this as I would've liked to. My apologies.

[2015-09-09 08:57] #16 closed

[2015-09-09 13:36] pickfire commented on #35
There is still some problem about the `mail` syntax, it seems that papercolor automatically **highlight** the *underline text* in the signature, so it seems weird, is there any support for using papercolor with *italics*, **bold**, `_underline_` or even `blinking`?

![2015-09-09-212348_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/9762915/24f2887a-5739-11e5-9f7a-1c57b7ee581b.pn

[2015-09-11 19:07] NLKNguyen commented on #16
No worry :) Thanks for your intention :+1:

[2015-09-11 19:11] NLKNguyen commented on #35
Can you check again to see if it's your spelling check turned on?

PaperColor doesn't block italics, underline, or blinking, but it also doesn't use any of them.

[2015-09-12 13:00] pickfire commented on #35
Yeah, my spell check is turned on.

This does not happen when I am using base16.

[2015-09-12 19:37] NLKNguyen commented on #35
Base16 probably doesn't support it. It's a proper behavior of spelling error detection, not a bug :)

[2015-09-12 19:46] #21 closed

[2015-09-13 04:58] pickfire commented on #35
Okay.

[2015-09-13 04:58] #35 closed

[2015-09-16 05:31] pickfire opened #37 "bronson/vim-trailing-whitespace fails in neovim"
In neovim, trailing whitespaces should be red, but instead it turns blacks.

[2015-09-16 06:08] NLKNguyen commented on #37
I support this plugin instead https://github.com/ntpeters/vim-better-whitespace. The author said it's inspired by Bronson's one.
On the other hand, I don't focus on Neovim just yet. I wait until it reaches 1.0.

[2015-09-16 06:39] pickfire commented on #37
Thanks, it works using https://github.com/ntpeters/vim-better-whitespace.

Can you please tell me what version it currently is? When will it reaches 1.0?

Good luck and have a nice day!

[2015-09-16 06:40] #37 closed

[2015-09-16 06:48] NLKNguyen commented on #37
It has a long way to go. Once it reaches 1.0, I'm sure there will be a big announcement, so we'll definitely know very soon after that.

[2015-09-16 09:13] pickfire commented on #37
Good speech! When you announce 1.0, I will help you to create some colorscheme for other applications that even base16 does not have (they have slow development currently).

[2015-09-16 19:41] NLKNguyen commented on #37
Great!!! ^^

[2015-09-25 04:18] pickfire opened #38 "Separate `def` color from `import` color in python"
Hi, it seems that the magpi syntax color look almost the same as papercolor and it seems nice, I hope base16 have a lightly darker background color just like it.

![2015-09-25-121441_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/10092970/18331f76-637f-11e5-8169-915e0b1d0d58.png)

[2015-09-25 08:13] NLKNguyen commented on #38
What is magpi? And how is it related to Python?

[2015-09-25 14:19] pickfire commented on #38
magpi is the Raspberry Pi's monthly magazine. I only said that I like it's colorscheme, it is better than the current colorscheme in python.

As you can see, the `def` have a different color compared to `import`. In my humble opinion, I think we should use **blue** for `def` and **green** for function name. I like that.

[2015-09-28 07:31] pickfire opened #39 "Add support for nicholaides/words-to-avoid.vim"
github.com/nicholaides/words-to-avoid.vim

[2015-09-29 04:04] NLKNguyen commented on #39
Ok, I'll take a look at it in the next time I work on this project :) (probably 2-3 weeks from now)

[2015-10-03 18:28] habamax opened #40 "airline doesn't change colors on background change"
When you change background in Gruvbox theme, airline theme changes too.

Papercolor on the other hand don't.

[2015-10-03 19:30] NLKNguyen commented on #40
Did you use the PaperColor Airline theme? It requires you to set background in .vimrc and reload it every time you want to switch between light and dark variant of PaperColor Airline theme. I realized that  it's not convenient. I'll probably do something about it in the future.

I wonder if you experience the same with other Airline theme? I don't have Vim on this machine to try.

[2015-10-04 03:22] pickfire commented on #40
Light theme doesn't change the theme too, I thought this is the default?

[2015-10-09 22:00] dawnofthedev opened #41 "Airline theme should distinguish mode by color"
I suggest to invert the way you have assigned colors, at least in the light variant. Right now you have the center (big) section a very dark blue, and it gets lighter on the smaller outer sections. You should swap this. Same idea for tabs... Tab bar would be better gray with tabs blue. Big big blue bars at top and bottom of screen are distracting.

Additionally, please add some different color to

[2015-10-10 02:08] pickfire commented on #41
I would like to have color based on the mode too but it seems that the original author wanted a distractless bar. In My Humble Opinion, I think you need to wait and see what he will say.

[2015-10-10 12:40] dawnofthedev commented on #41
Ideally only the outermost segment of the Airline would need to change color, and it could be subtle. Right now the middle solid blue bar is what is distracting.

I can implement it if author is receptive but have no terminal to test on.

[2015-10-10 19:23] NLKNguyen commented on #41
Thanks for the suggestion :)
Personally, I rarely use Airline in my workflow because it's a bit unnecessarily heavy when working on a remote machine. That's why I don't have much experience with it. I heard Lightline is more lightweight but haven't tried nor had the need for it. So, I simply made it resemble the PaperColor's default, as seen on screenshots. About the color changing on modes, I als

[2015-10-12 13:15] pickfire commented on #41
@dawnofthedev And the `PaperColor` theme for `lightline` is developed by another developer which you can refer too.

[2015-11-17 22:40] wimstefan opened #42 "diffdelete text is unreadable"
... since background and foreground colours are the same.

I changed the referring parts (and hopefully didn't mess it up too much ;-)) as you can see below:

[code]

[2015-11-18 03:39] pickfire commented on #42
What do you mean `diffdelete`? I think those part that are deleted aren't important.

[2015-11-18 12:10] wimstefan commented on #42
Did you read the patch part? There you can see that foreground and background for the DiffDelete highlighting group are the same which makes text unreadable. I think sometimes it's useful or even important to know what exactly is deleted hence my note ....

[2015-11-19 05:59] pickfire commented on #42
Can you please show the image?

[2015-11-19 06:32] wimstefan commented on #42
Sure.
![screen-invisible-diffdelete](https://cloud.githubusercontent.com/assets/4605934/11263942/9c5f2160-8e8f-11e5-9494-c4f6d23d61e2.png)
![screen-visible-diffdelete](https://cloud.githubusercontent.com/assets/4605934/11263945/a6598138-8e8f-11e5-9f4d-b08f7192538e.png)

[2015-11-19 07:11] pickfire commented on #42
It seems like your theme background is too white compare to my vim. Even whiter than neovim.
I thought the place that is highlighted in red should be yellow?

And

Mine, the default:

![2015-11-19-150513_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/11264578/a4d912d4-8ecf-11e5-8217-afb69521b071.png)

[2015-11-19 07:31] wimstefan commented on #42
Hmm interesting ... not sure what causes the difference?
You can find my .vimrc here: [my .vimrc](https://github.com/wimstefan/dotfiles/blob/master/vim/vimrc)

I presume the grade of whiteness doesn't really matter in this context? ;-)

[2015-11-19 08:16] pickfire commented on #42
Oh, it seems long, I hope that you can try vim using only pepercolor theme first and find out the problem.

I don't have the time right now.

[2015-11-20 16:11] tazimmerman opened #43 "pythonBuiltin highlight groups"
Hi,

Excellent job on the color scheme. It's really pleasant to use.

I just noticed that Python builtin functions (geattr(), dict(), etc.) are not highlighted. Were those omitted on purpose? If so, all I need to do is define something besides foreground in these lines, correct?

  call s:HL("pythonBuiltinFunc", s:foreground, "", "")
  call s:HL("pythonBuiltinObj", s:foreground, "", "")

Thank you

[2015-11-20 17:16] tazimmerman commented on #43
This really isn't an issue, and now that I've walked through the color scheme as well as the Python syntax file, I've got things looking pretty nice (thanks to your fine color selections). I added highlighting for pythonDocTest, pythonBuiltinObj and pythonBuiltinFunc.

I did notice that pythonExClass was defined twice -- once as a red, which matches pythonExceptions, and once as orange, which didn

[2015-11-20 17:16] #43 closed

[2015-11-21 00:10] NLKNguyen commented on #42
Hello,
Sorry for late reply, please send me a pull request :)

[2015-11-21 00:35] NLKNguyen commented on #43
Thanks for that, glad you like it :)
Could you send me a pull request latter on when you get a chance? So I can simply pull it.

As a side note, usually the problem with highlight for builtin function/objects is that the vim syntax file of that language always lacks behind the language specs. So, I tend to make them all as regular text rather than having some highlight correctly and some don't bec

[2015-11-21 07:21] pickfire commented on #42
@wimstefan If I remember correctly, the following plugins doesn't have support with PaperColor theme:

- vim-signify

And it seems weird that the colors should be red in your vimrc. You can take a look at [my .vimrc](https://github.com/pickfire/dotfiles/blob/alarm/home/vimrc).

[2015-11-21 22:35] NLKNguyen commented on #42
@wimstefan I think you sent the pull request to your repos instead of this. It doesn't appear in this repos pull request list.

[2015-11-21 22:49] wimstefan commented on #42
Ayyyy that is embarassing! And no excuse that I do that the first time :-/
I'll have a look at it as soon as I have a bit more time.
My sincere apologies!

[2015-11-21 23:49] wimstefan commented on #42
I hope it went better this time ...

[2015-11-22 07:06] NLKNguyen commented on #42
No need to apology, my friend :) and thanks for the request ^^ ddeae4e

[2015-11-22 07:06] #42 closed

[2015-12-21 02:50] NLKNguyen commented on #36
Just added a portion of it fbb436e, more syntax colors will be added later :)

[2015-12-21 03:19] pickfire commented on #36
Thanks.

[2015-12-21 03:27] pickfire commented on #36
What about adding support for `##` like in markdown?

[2015-12-21 03:33] NLKNguyen commented on #36
I'll see if it's possible. Since I can't interfere with the syntax file, I can only decide which color to map to which available syntax group.

[2015-12-28 01:21] jordwalke opened #45 "Support WildMenu in vim colorscheme."
This seems to be omitted.

[2015-12-28 02:08] pickfire commented on #45
Is it? I thought it was there.

[2015-12-28 02:44] NLKNguyen commented on #45
I have just added :)

Before was just auto color group linking. Now it is set manually. Since the WildMenu color group option only allows the color of the current selection to change, the bar color remains the same. And I think it's reasonable because with this setting `set wim=longest:full,full` the WildMenu takes place of the StatusBar.

[2015-12-28 02:56] pickfire commented on #45
That's the default for nvim: `set wim=longest:full,full`.

I think I like the old color more, yellow on top of blue. And now it's pink. :(

[2015-12-28 03:15] NLKNguyen commented on #45
Oh haha, I can fix that.
How does it look in the dark theme? It was yellow in the dark theme also and wasn't pretty.

[2015-12-28 04:36] #45 closed

[2015-12-28 08:12] pickfire commented on #45
That's better, I didn't notice that the dark theme have improved a lot since then.

[2016-01-18 08:11] pickfire opened #47 "Add alternative, vis"
The vis editor already have an implementation of papercolor theme, I hope that you can add it as an alternative.

https://github.com/jceb/dotfiles/blob/master/config/vis/lexers/themes/papercolor.lua

[2016-01-18 09:24] NLKNguyen commented on #47
Interesting. Do you have a screenshot of how it looks with this theme? I'm curious. I didn't even know that editor exists.
Btw, what do you mean by adding it as an alternative?

[2016-01-18 14:15] pickfire commented on #47
@NLKNguyen I don't have a screenshot currently, I suggest you to ask @jceb.

Sorry for not being clear, I think we can just create a link that show https://github.com/jceb/dotfiles/blob/master/config/vis/lexers/themes/papercolor.lua as the port of PaperColor theme to vis.

[2016-01-18 19:35] jceb commented on #47
Please find the screenshot attached.  On the left side is "vis" on the
right side vim with the PaperColor theme.

On Mon 18-01-2016 06:15 -0800, Ivan Tham wrote:

--
Jan Christoph Ebersbach
I didn’t want some petty, inferior brand of righteousness that comes
from keeping a list of rules when I could get the robust kind that comes
from trusting Christ - God’s righteousness.  Phil 3:9

[2016-01-19 01:48] NLKNguyen commented on #47
Nice one! I'll add a new section in this project README to mention other related projects. Do you plan to have a standalone repository for this in order to link to?

Just a side note, this plugin https://github.com/NLKNguyen/c-syntax.vim enhances the C/C++ syntax for Vim. You may want to try it :)

[2016-01-19 13:51] pickfire commented on #47
@NLKNguyen vis doesn't use vim script if I recall correctly.

[2016-01-19 20:14] NLKNguyen commented on #47
I understand. That was for Vim.

[2016-01-20 03:04] NLKNguyen commented on #47
Added info in README 3c418cbd

[2016-01-20 03:04] #47 closed

[2016-01-31 09:21] McSinyx opened #48 "Add Pascal highlighting"
I really like the colorscheme, but unfortunately syntax highlighting fo (Free) Pascal is not available. If you take a look at the screenshot, you can see that functions are not highlighted:

![2016-01-31-161025_724x544_scrot](https://cloud.githubusercontent.com/assets/13689192/12701254/4f30c4ee-c836-11e5-8c73-5e39ab6c36c0.png)

Compare to Solarized:

![2016-01-31-161014_724x544_scrot](https://clou

[2016-01-31 22:35] NLKNguyen commented on #48
I have just added Pascal support. Try it out :)

May I ask why and where you use Pascal? I wonder how it is still being used. Last time I saw it was in a high school class more than 10 years ago, and schools already moved on to teach Java and Python, didn't they?

[2016-02-01 01:55] McSinyx commented on #48
Thanks! It looks great, but function names and the `begin`, `end`, `var`, `function` things seem to have the same color (electrical blue), which make it not so easy to read.

Well, about the Pascal usage thing, I use it as schools and competitions here (Việt Nam) only allow Pascal and C++, and I didn't learn C++ yet (I wish we could use Python).

Sorry for my bad English anyway.

[2016-02-01 02:39] NLKNguyen commented on #48
Don't be sorry about your non-native language :)

I just changed the function color back to regular text color. The reason is that the Pascal syntax file which comes with Vim simply matches the built-in function names with the text without any context at all. For example, if you declare a variable named `length`, it will match the built-in function `length` even though that would be incorrect. So,

[2016-02-01 02:42] pickfire commented on #48
@NLKNguyen Nice, I didn't know you are from Vietnam, I am just in your neighbouring country, Malaysia.

[2016-02-01 02:47] NLKNguyen commented on #48
@pickfire Ah, yeah, I noticed :D I moved to the US 6 years ago.

[2016-02-14 13:45] pickfire opened #49 "Add CSS highlighting"
I look for nice CSS syntax online, seems like none sustified my expectations.

[2016-02-15 11:14] cuducos opened #53 "Python syntax coloring: no difference in Boolean values, neither on class (reserved word) and class name"
As most of the time I use Python, I want to customize `PaperColor` changing two minor details I've seen on other themes such as [molokai](https://github.com/rodnaph/vim-color-schemes/blob/master/colors/molokai.vim), for example:

![PaperColor vs Molokai](http://i.imgur.com/FIg1ilZ.png)

1. Change the color of boolean values (e.g.: the `True` in line 7)
2. Have different colors for `class` reserved

[2016-02-16 05:49] NLKNguyen commented on #49
The theme currently has partial support for CSS. I need to work on that. Can you provide some CSS snippets that show the incompleteness of the theme support, so I can work on. The CSS syntax groups from the built in syntax file are unnecessarily many, and I didn't encounter most of them.

[2016-02-16 06:38] NLKNguyen commented on #53
Since the syntax file dictates what syntax groups are available, and it doesn't provide `class` as a separate group name from `def`, the theme can't do much about it.

From my view, without the extra customization that you have, the Boolean appears as expected. I think your other customization might override the python-syntax plugin. One suggestion I can give is to put the customization before the

[2016-02-16 11:50] cuducos commented on #53
Nailed it!

I discovered that PaperColor theme and [rodnaph/vim-color-schemes](https://github.com/rodnaph/vim-color-schemes) might have a conflict for some reason… I commented out the line where I load `vim-color-schemes` and PaperColor worked. Yay.

Many thanks for the `\c` and `\p` scripts. Gonna play with them : )

[2016-02-16 11:50] #53 closed

[2016-02-16 12:57] pickfire commented on #49
My site's css:
[code]
And add for this support too:
[code]

[2016-02-16 19:11] NLKNguyen commented on #53
Great! :+1:

[2016-02-17 22:35] ShengYun opened #54 "Airline theme not switching while changing bg on the fly"
The airline theme is not changing while I `set bg=dark` or `set bg=light` on the fly

[2016-02-17 22:39] ShengYun opened #55 "Airline theme is not updated with vim-airline-themes"
vim airline separated it's themes to [vim-airline-themes](https://github.com/vim-airline/vim-airline-themes) and the PaperColor theme it contains is the initial version I believe, the current version is different. Also these two versions have different names, one is papercolor.vim the other is PaperColor.vim

btw, I'm using Vundle, in order to use the latest version of airline theme which is locat

[2016-02-18 06:19] #54 closed

[2016-02-19 09:38] kjyv opened #58 "after installing with Vundle: colorscheme not found"
Not sure if this is related to the theme, Vundle or my setup.
Adding Plugin 'NLKNguyen/papercolor-theme' and installing normally with :PluginUpdate, the files are cloned to .vim/bundle fine. It seems though the theme can only be set when the scheme is in .vim/colors/.
It is not in scriptnames otherwise and colorscheme PaperColor throws a can't find color scheme.

[2016-02-19 12:43] pickfire commented on #58
@kjyv I use [vim-plug](https://github.com/junegunn/vim-plug) and found no problem using PaperColor after `:PlugUpdate`.

[2016-02-19 12:49] kjyv commented on #58
Seems like a nice plugin (I didn't know about it, thanks). But the readme states that Vundle is supposed to work. Probably vim-plug wouldn't put the files in .vim/colors either so not sure if there is something else that needs to be done.

[2016-02-19 13:12] pickfire commented on #58
vim-plug put the files in ~/.vim/plugged and add it to the path if I recall correctly.

[2016-02-19 15:36] ShengYun commented on #58
Have you restarted vim after plugin update?
If yes check if you enabled PaperColor by
colorscheme PaperColor

It's case sensitive

On Friday, February 19, 2016, Ivan Tham <notifications@github.com> wrote:

[2016-02-19 23:39] kjyv commented on #58
Apparently, vundle needs to be set up like this, so that was my mistake.

filetype off
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
Plugin 'VundleVim/Vundle.vim'
Plugin 'NLKNguyen/papercolor-theme'
call vundle#end()
filetype plugin indent on
syntax enable

[2016-02-19 23:39] #58 closed

[2016-02-21 04:52] NLKNguyen commented on #58
Glad it's resolved :+1:

[2016-03-14 03:28] ShengYun commented on #55
Solved with https://github.com/NLKNguyen/papercolor-theme/pull/56

[2016-03-14 03:28] #55 closed

[2016-03-18 07:13] pickfire opened #60 "Add iptables (hog) highlighting"
Hi, I hope that you can help to add highlighting for iptables.

![2016-03-18-151211_878x881_scrot](https://cloud.githubusercontent.com/assets/4687791/13870996/d872248c-ed1b-11e5-97c0-c7a023f2d2ad.png)

Example here:

[code]

[2016-03-24 21:56] peidong opened #61 "The comments have a grey background"
<img width="711" alt="image" src="https://cloud.githubusercontent.com/assets/9426202/14032490/81c221be-f1d0-11e5-8576-12218e6b64a0.png">

The issue happens when I use iTerm in Mac. But when I use vim with GUI, it is good.

[2016-03-25 01:37] NLKNguyen commented on #61
Seems like the last commit which changed the comment font-style to Italic caused the problem. I didn't check how it looks in the terminal. I'll reverse the last commit.

Thanks for the feedback!

[2016-03-25 01:44] NLKNguyen commented on #61
I just reverted. Please check again.

[2016-03-25 01:49] peidong commented on #61
It works, thank you so much!

[2016-03-25 05:52] NLKNguyen commented on #61
Great! You're welcome.

[2016-03-25 05:52] #61 closed

[2016-05-24 13:43] pnth opened #64 "Wrong background colour in tmux"
I have tried your colour theme and it works fine on urxvt but in urxvt with tmux, the gray background disappears after the end of each line where the cursor has gone through:

https://ibin.co/2iGICMmiZKzy.png

[2016-05-26 19:49] aliceriot commented on #64
This happens for me as well with Vim, but not with NeoVim. Tmux + xfce4-terminal + arch linux.

[2016-05-26 22:04] NLKNguyen commented on #64
Could you please check whether any other color scheme, which customizes the background color, have the same problem? I just want to know if it is terminal issue or the theme issue.

[2016-05-26 22:33] rschmukler opened #65 "Enabling causes syntax highlighting to break for other color themes"
I have a toggle function which switches between light and dark; I use a different dark theme but would love to use this for light. However, when switching back to my dark theme (or any other theme) the highlighting seems to break. If I go to PaperColor it all still works fine. See the attached screenshots for an example:

Dark mode before:

![Image Dark Before](http://files.slingingcode.com/0h2u3B

[2016-05-26 23:57] NLKNguyen commented on #65
Yeah, this is a problem I noticed early on too. I believe that it's because the other themes you used didn't handle background switching well. The way to handle that is hacky, and the themes themselves should handle that.

I got a PR that helped doing that https://github.com/NLKNguyen/papercolor-theme/pull/20
You can check out the changes to see how he did it. I hope the trick has the same effect

[2016-05-27 00:22] rschmukler commented on #65
@NLKNguyen I am actually explicitly setting those (`set background=dark`) before calling `color <other-theme>` - just for kicks I tried re-setting it after calling `color <other-theme>` as well but to no-avail. If I understand the PR correctly, that is the trick you are referring to?

PS. Thank you for this theme; I worked in it all day and it has been a pleasure!

[2016-05-27 01:59] NLKNguyen commented on #65
There are two parts of the trick. I put in the comment of the below theme snippet. I really don't understand why it has to be this way, but it works. So, I guess if you modify the other dark theme that you use to include this, then it *probably* will work

[code]

Glad that the theme pleases you :) I enjoy using it as well.

[2016-05-27 13:36] aliceriot commented on #64
I've noticed the same thing with solarized, if i have the terminal set to solarized light but Vim set to solarized dark. That makes me think it's a Vim + certain terminals issue, since Neovim (in tmux) works fine and has no issues.

[2016-05-27 20:35] rschmukler commented on #65
I tried adding the trick as suggested but it didn't seem to make a difference sadly. I also checked out Gruvbox and the highlighting groups still seem to break. Specifically with Go (haven't tested others)

Example snippet:

[code]

my ToggleColor Function looks like this:

[code]

[2016-05-28 01:32] pnth commented on #64
I got the same problem with solarized. For solarized, I used the author's urxvt and tmux colour setting at ```https://github.com/altercation/solarized```. Maybe you can provide one similar. Currently I set my terminal background similar to your background colour ```URxvt*background: #F0F0F0``` (yours is #f5f5f5), the same way I did for solarized.

[2016-05-28 23:48] NLKNguyen commented on #65
Sure, it's good for me to know that there is something inconsistent about this theme. I'm inspecting this. What Go syntax plugin that you are using? I installed vim-go, but the highlighting seems like you are using something else.

[2016-05-29 00:14] NLKNguyen commented on #64
I see. Thanks you two for the test. It's likely the terminal / vim issue.
There are other projects listed in the README that might help configuring your terminal theme. One of them is https://github.com/ninrod/dotfiles which provides config for tmux, zsh, and more. The other one https://www.reddit.com/r/vim/comments/36xzbs/vim_paper_color_theme_inspired_by_googles/crqbfpa seems like a quick soluti

[2016-05-29 09:23] pnth commented on #64
Thanks for the links

[2016-05-29 09:23] #64 closed

[2016-05-29 18:15] rschmukler commented on #65
I am indeed using `vim-go`. As far as I know, I am not using anything else modifying my golang syntax. I am using truecolor nvim, if that'd make a difference...

[2016-06-06 00:25] NLKNguyen commented on #65
After digging for a while, I finally found a way to solve the problem. It turned out that GruvBox and many other themes like Solarized relink the syntax highlighting groups, provided by the syntax plugins, to the theme's custom syntax highlighting groups. In https://github.com/altercation/solarized/issues/102 tpope says that it's not the color scheme business, and Vim doesn't anticipate that. Pape

[2016-06-08 18:19] rr- opened #67 "PaperClip + ag + fzf = poor colors"
I'm using:

- NVIM v0.1.5-370-g02e6914
- rxvt-unicode (urxvt) v9.22 - released: 2015-10-11 (the version with 24 bit patch)
- [`ag`](https://github.com/ggreer/the_silver_searcher) 0.32.0
- [`fzf`](https://github.com/junegunn/fzf) 0.12.2

After issuing `:Ag` command, the results look less than satisfactory:

![20160608_201504_wts](https://cloud.githubusercontent.com/assets/1045476/15905704/231fd8c8-

[2016-06-08 23:59] pickfire commented on #67
@rr- If I recall correctly, papercolor theme doesn't have support for Ag and FZF. I am using neovim too but I haven't found these problem. Although the theme for neovim and vim is a bit different (neovim is slightly brighter).

[2016-06-09 00:46] NLKNguyen commented on #67
I'll need sometime to setup the environment to reproduce the issue before I can inspect. I'll let you know when I do that. In the mean time @rr- , can you please try to alternate the color palette of your terminal to see whether those bright colors are from the terminal or Vim?

[2016-06-09 04:31] rr- commented on #67
These don't come from the terminal. After setting every color in `.XResources` to `#000000`, running `xrdb` and restarting URxvt, the results inside Neovim are still rendered in bright green and yellow (whereas PS1 etc. is black like you'd expect).

[2016-06-16 05:25] NLKNguyen commented on #67
I can't get FZF to work on Windows yet. It's ruby gem problem (again haizzz). I'll try again on Ubuntu.

[2016-06-17 16:06] rschmukler commented on #65
@NLKNguyen apologies on the delay. Thank you a ton for the digging and the work around. Awesome theme again. Thanks for sharing it with everyone!

[2016-06-17 16:06] #65 closed

[2016-06-17 23:39] NLKNguyen commented on #65
You're welcome :)
I'm working on a revision that enables different color palettes to co-exist on PaperColor. Once that happens, color palettes like GruvBox, Solarized, Molokai can be included within PaperColor easily, and  internal theme switching won't be an issue ^^

[2016-06-18 06:14] pnth opened #69 "papercolor for terminator"
I am using terminator and would like to set its color scheme to papercolor, as done in urxvt here https://www.reddit.com/r/vim/comments/36xzbs/vim_paper_color_theme_inspired_by_googles/crqbfpa

I adapt https://github.com/ghuntley/terminator-solarized to papercolor as follows:
[code]

Is it correct? Could you help me with the dark version. Thanks

[2016-06-18 08:29] pnth commented on #64
This link is a useful fix for vim + tmux background erase issue
http://sunaku.github.io/vim-256color-bce.html

[2016-06-18 09:51] NLKNguyen commented on #64
Glad that it's resolved.
P.S. That web design is just WOW. Thanks for the link.

[2016-06-18 16:59] pickfire commented on #69
Looks very similar

[2016-06-19 04:31] NLKNguyen commented on #69
I'm currently working on 16-color  terminal support for PaperColor. It's still at the early stage, but this is the general idea of color mapping from default terminal palette to the upcomming PaperColor 16-color palette http://codepen.io/NLKNguyen/full/NrRpej/
I haven't used Terminator. I think you can base on the default Terminator palette then replace those colors with the corresponding colors i

[2016-06-19 04:38] pickfire commented on #69
@NLKNguyen Seems nice, I can help to port it to [st](st.suckless.org) after that. But remember about the normal base16 colors:
[code]
Taken from base16's colortest script in base16-shell

[2016-06-19 08:09] NLKNguyen commented on #69
Thanks for pointing out. I used the color numbers as described in `:h cterm-colors`, and Windows Command Prompt happens to use the same way of color numbering. Yes, the color numbers are not consistent. However, the actual colors are similar, so it's best to base on the colors themselves or their names.

I will have a road map section on README in the future so that you can follow up with the stat

[2016-06-19 16:19] pickfire commented on #69
@NLKNguyen Nice one, but I think we can have a TODO.md or ROADMAP.md

[2016-06-30 14:53] pickfire opened #70 "A similar colorscheme"
Hi, I think I have found a colorscheme that is somewhat similar to https://github.com/reedes/vim-colors-pencil except the our dark theme isn't that dark.

Maybe we should add it as an alternative?

I think I should also call forth @reedes.

[2016-07-02 02:39] reedes commented on #70
Nice color theme!

[2016-07-02 13:15] pickfire commented on #70
@reedes thanks, you dark theme looks nice and papercolor's light theme looks nice, are you based on google material design colors too?

[2016-07-03 00:56] NLKNguyen commented on #70
Sure, I'm about to add the roadmap for 16-color support first before enabling alternate color palettes in true/256-color, which make it possible to collaborate other color schemes.

Once 16-color support is done, you can already alternate the terminal's color palette for your theme of choice. I posted the guideline http://codepen.io/NLKNguyen/full/NrRpej/ a while ago, and more details and examples

[2016-07-03 02:22] NLKNguyen commented on #70
https://github.com/NLKNguyen/papercolor-theme/blob/master/ROADMAP.md

[2016-07-03 02:22] NLKNguyen commented on #69
https://github.com/NLKNguyen/papercolor-theme/blob/master/ROADMAP.md

[2016-07-03 15:35] pickfire commented on #69
Looks nice. What's the roadmap for neovim's support?

[2016-07-03 21:46] NLKNguyen commented on #69
It works in NeoVim normally right? There is not much to do about it.

[2016-07-04 02:56] pickfire commented on #69
Yeah, but there is extra features in neovim.

[2016-07-07 00:02] reedes commented on #70
Pencil's colors are based on those in iA Writer.

[2016-07-12 14:05] pickfire commented on #69
@pnth The dark version is in https://github.com/marhs/material-terminator/blob/master/config

@NLKNguyen The link you gave should help in developing color scheme for text editor but when developing color scheme for terminal, it seems hard.

[2016-07-13 02:47] pickfire commented on #69
Wow, I did a patch for st based on http://st.suckless.org/patches/solarized (the new both patch) but I still can't make use of the bright colors and some colors in dark scheme seems wrong.

![2016-07-12-225735_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/16790300/3cfd4180-48e7-11e6-93d6-99b21bceb926.png)
![2016-07-12-225733_564x340_scrot](https://cloud.githubusercontent.com/as

[2016-07-20 01:22] NLKNguyen opened #71 "General Discussion - 1.0 Release Candidate"
This thread is for any discussion regarding 1.0 release candidate

See [ROADMAP](https://github.com/NLKNguyen/papercolor-theme/blob/master/ROADMAP.md#10-release-candidate) for information

[2016-07-20 01:49] pickfire commented on #71
Oh, I didn't know https://github.com/NLKNguyen/papercolor-16 happened to be here. I hope that it can be linked to the README.

[2016-07-21 01:03] NLKNguyen commented on #71
Some updates on [develop_1.0](https://github.com/NLKNguyen/papercolor-theme/tree/develop_1.0) branch:
The goal of the current refactoring process is to allow color theme to be designed in this manner:
[code]
The color guideline is updated here http://codepen.io/NLKNguyen/full/NrRpej/ It has some changes since the last time.

The first 15 color## are required and can be mapped  one-to-one directly

[2016-07-21 01:17] NLKNguyen commented on #71
With the current color guideline, some cli programs can produce the natural color, for example, red and green for deleting and adding in Git
![cmd-02-papercolor-gitdiff](https://cloud.githubusercontent.com/assets/4667129/17008339/3dfd5b38-4ea5-11e6-9dc6-f87c5bbc3994.PNG)

[2016-07-21 01:20] NLKNguyen commented on #71
To test 16-color in Vim using a 256-color terminal, you need to `set t_Co=8`

[2016-07-21 01:56] pickfire commented on #71
Yes, it works and follows most of the colors in 8-color terminal except blue but those colors from 9 - 16 is very different from the original color expecially the last one (white -> blue).

[2016-07-21 02:24] NLKNguyen commented on #71
There is no way around. All colors are to be alternated, which is how we can have a different palette. I imagine other palettes like PaperColor light, Solarized, Gruvbox, etc can be added as well, and it's not possible to not alternate the default colors. The red and green, however, have more special cognition meaning associated with them, so they are better to be remained.

I intend to have the 1

[2016-07-21 16:59] pickfire commented on #71
Sure, why not?

@NLKNguyen Here's the default color, which is high in contrast but now it suits my eyes more.

![2016-07-22-004713_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/17031318/05a768e4-4fa6-11e6-9e6b-16039dcec34e.png)
Light theme: assembly
![2016-07-22-005807_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/17031591/77bf71c8-4fa7-11e6-9cba-55e2a5a2c8a

[2016-07-21 18:13] NLKNguyen commented on #71
You need to set t_Co=8 to force vim to use native  terminal 16 colors. The above used 256.

[2016-07-22 01:40] pickfire commented on #71
@NLKNguyen t_Co=8 doesn't seem to have an effect in neovim. And I haven't set my terminal colors to papercolor yet.

[2016-08-25 20:33] UncleGoogle commented on #41
Hi, I'm new in vim but maybe my feedback will give some 'goods'.

I agree with dawnofthedev - color invertion in tabs would seem to me be more natural for me.
Additionaly, as I mostly use dark background, I wish see not-blue airline theme. With edkolev/tmuxline.vim it becomes a bit scary.

yes... but not always - e.g. when you are switching between windows/ panes. Then color helps. On the other ha

[2016-08-27 02:24] NLKNguyen commented on #41
Hi there,

Now I'm reconsidering this, and I think I can provide both types of Airline theme: 1 more uniform and 1 more vibrant like many tend to prefer.  However, it is not happening soon because this theme is currently under major change to become a framework for multiple color schemes.  There will be a generator to create Airline themes for different color schemes, and each can have those 2 typ

[2016-09-07 17:38] Bakudankun opened #73 "diff under cursorline is barely visible in dark theme"
When `cursorline` is set in diff view, the diff under the cursor line is barely visible like below.

![2016-09-08](https://cloud.githubusercontent.com/assets/4504807/18322068/bdc261c8-756b-11e6-8d54-b6805a8b0691.png)
(look line 5 of left side)

This is same for  added/deleted lines.

[2016-09-08 03:58] pickfire commented on #73
![2016-09-08-115509_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/18336626/5ba74e4a-75bb-11e6-85ee-34938bef00d1.png)

This doesn't seem to happen in the light background.

@Bakudankun In My Humble Opinion, I don't think turning on `cursorline` in diff is a nice idea, since you can't see if the line has changed.

[2016-09-08 11:23] Bakudankun commented on #73
@pickfire You may be right, but if the cursorline could be rendered "behind" the diff highlighting (see morhetz/gruvbox#40) instead of disabling it, I think it would be so helpful.

[2016-09-10 08:03] NLKNguyen commented on #73
I'll look into this soon. I also encountered a similar problem with dark variant when I was refactoring the theme.

[2016-09-11 12:38] telemachus opened #74 "Errors after update"
After updating papercolor this morning (from 867b051 to 5d9d6e1) and starting up neovim, I get this:

    Error detected while processing /Users/telemachus/.config/nvim/bundle/papercolor-theme/colors/papercolor.vim:
    line 1782:
    E746: Function name does not match script file name: PaperColor#Test
    line 1805:
    E746: Function name does not match script file name: PaperColor#GenerateSpecs

[2016-09-11 14:03] NLKNguyen commented on #74
Thanks for the early report. I'll work on this ASAP.

[2016-09-11 20:00] NLKNguyen commented on #74
Please check again.

[2016-09-11 21:47] telemachus commented on #74
Definitely better! About 80% of the error messages are gone. Here's what remains:

    Error detected while processing /Users/telemachus/.config/nvim/bundle/papercolor-theme/colors/papercolor.vim:
    line 1782:
    E746: Function name does not match script file name: PaperColor#Test
    line 1805:
    E746: Function name does not match script file name: PaperColor#GenerateSpecs
    Press ENTER or

[2016-09-11 23:06] NLKNguyen commented on #74
Please try again. That error doesn't happen in Vim, but I changed the functions' signature anyway, hopefully that plays nice with NVim.

[2016-09-12 11:05] telemachus commented on #74
All clear now! Thanks so much.

[2016-09-12 11:33] h-michael commented on #74
I use this theme with neovim.
After update, cannot apply theme, but have no error.

[code]

[2016-09-12 13:38] telemachus commented on #74
@h-michael When you say you "cannot apply theme", what do you mean? What exactly happens?

It looks like you are also on OSX, here's my latest neovim information, as of this morning. I've just updated both neovim and papercolor, and it's working well here.

    :version
    NVIM v0.1.6-89-g2daf54e
    Build type: Dev
    Compilation: /usr/local/Library/Homebrew/shims/super/clang -Wconversion -U_FO

[2016-09-13 13:12] ShengYun opened #75 "Default background is set to light and set background not working"
I'm on `d7c9369cb77cf59c782f9a5a6dc3939d6c09e64b` now.

I had
[code]
in my `vimrc` but the colorscheme still loads with the light background, I checked `set background?` is `light`.

Also `set background=dark` or `set background=light` is not working now, I have to first set the background and select the colorscheme to make it work.

[2016-09-13 18:54] NLKNguyen commented on #75
What Vim are you using?

I took a piece of code out, which I thought wouldn't have any effect, but probably in some Vim, it matters. I can put that back.

[2016-09-13 19:18] NLKNguyen commented on #73
Please check again. I've just revised vimdiff colors for both dark and light; more noticeable difference in the dark variant.

[2016-09-13 21:20] taq commented on #75
Using Neovim here, after upgrading the plugin things became crazy on colors. :-(

[2016-09-13 22:18] taq commented on #75
Just for record, I reverted back to `867b051d3ad76953d422836445e9f6ce2e95d76c` and now is everything back to normal.

[2016-09-14 00:40] ShengYun commented on #75
@NLKNguyen I'm using neovim :)

[2016-09-14 00:53] ShengYun commented on #71
@NLKNguyen Is it possible to change the status bar color in the light theme? now it's a bit hard to distinguish the horizontal split. See screenshot below

![papercolorlightsplit](https://cloud.githubusercontent.com/assets/1317203/18496462/12adcdbc-79f4-11e6-97f9-24664933b21e.png)

[2016-09-14 01:12] NLKNguyen commented on #71
I thought it would be more visible than that. Are you sure it's not your Airline/Lightline theme?
This is what I have with plain Vim statusline. I could still darken it a bit more if necessary.
![capture](https://cloud.githubusercontent.com/assets/4667129/18496716/fc06fb72-79dc-11e6-9a7a-d36a3627b63e.PNG)

[2016-09-14 01:55] Bakudankun commented on #73
wow cool!
I like the new coloring so much!

Thank you for your quick work!

![dark](https://cloud.githubusercontent.com/assets/4504807/18497083/71ee009a-7a66-11e6-8499-613ddcf6c679.png)

![light](https://cloud.githubusercontent.com/assets/4504807/18497087/79d0c824-7a66-11e6-814c-bfba63f42498.png)

[2016-09-14 01:55] #73 closed

[2016-09-14 04:14] NLKNguyen commented on #73
Anytime :)

[2016-09-14 10:46] paupalou commented on #74
I have same problem than @h-michael , after update theme is not working in neovim, no errors.

`NVIM 0.1.6-dev
Build type: RelWithDebInfo
Compilation: /usr/bin/x86_64-linux-gnu-gcc -g -O2 -fstack-protector-strong -Wformat -Werror=format-security -Wconversion -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -O2 -g -DDISABLE_LOG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wvla

[2016-09-14 10:48] pickfire commented on #74
After the latest update, I found papercolor theme working with neovim 0.1.5-1. No errors found so far.

[2016-09-14 10:49] pickfire commented on #71
@NLKNguyen Ah, what about using orange for it, looks nice.

[2016-09-14 10:50] pickfire commented on #75
@taq I am also using neovim, working nice so far with latest papercolor.

[2016-09-14 11:13] h-michael commented on #74
I use dein.vim for plugin manager and nerdtree.
So I look again my rcs.

[2016-09-14 11:41] taq commented on #75
@pickfire I removed all the `bundle` dir commented all the custom configuration on `.vimrc`, and when I just returned `papercolor-theme` there, it messed things up. Weird.
So, me and @ShengYun using Neovim ... on regular Vim, the theme *almost* works fine here on the latest commit I got (not sure there are some other now).

[2016-09-14 12:52] telemachus commented on #74
Since it happens for some, but not all, of us who are using neovim, I'm guessing that it's an interaction with another plugin.

That can be a pain to debug: what I normally do is remove all plugins (except the one I want to test) and then add the others back, one by one. Very annoying if you use a lot of plugins obviously.

[2016-09-14 13:18] ShengYun commented on #71
@NLKNguyen Am I supposed to install a separate airline theme? I'm currently using ` vim-airline/vim-airline-themes` and did not set anything about the airline theme in my `vimrc`

[2016-09-14 13:37] paupalou commented on #74
hi @telemachus  , i did the test and i think its something about termguicolors, if you create a plain init.vim and add only colorscheme PaperColor works perfect (with the light theme).

If you add set background=dark to to init.vim its forced background=light , did a verbose set background and ....

[code]
if you add as 1st line in init.vim set termguicolors all seems fucked up.

Btw , if u grab t

[2016-09-14 17:45] NLKNguyen commented on #71
@ShengYun Oh I see. You're using the Airline theme provided in this repo. There will be a revision on Airline theme after version 1.0 release, and I will use a separate repo for Airline. For now I'll be working on the main theme only.

@pickfire I will consider that :)

[2016-09-14 18:12] ShengYun commented on #71
@NLKNguyen Oh so what you are saying is after the 1.0 release I should install another repo and use that theme? but keep using the built in airline theme for now?

[2016-09-14 19:04] NLKNguyen commented on #71
Yeah, the Airline theme is unmaintained now and will be replaced by a different, separate project. It's gonna be a long time until then so keep using the current Airline or alternative Lightline somewhere if you like.

[2016-09-15 21:45] telemachus commented on #74
@paupalou Right, that's more or less what I do. When I said "remove", I meant "put somewhere else". Renaming the folder they're in puts them somewhere else. :) (I didn't mean that I delete them, though even that wouldn't be such a big deal given that I automate setting up my dotfiles.)

Anyhow, thanks for tracking this down. I suspect you're right: I'm not having the problem, but I don't set `term

[2016-09-15 22:02] NLKNguyen commented on #74
Thanks for all of your inputs, I'll look into this after installing nvim. Haven't been using nvim for a while.

[2016-09-18 04:46] skilbjo commented on #75
+1 also experiencing the issue with the latest update. going to revert back

[2016-09-21 06:58] jinzhu commented on #75
also broken when using vim 8, using 867b051d3a does fixed the problem.

[2016-09-21 13:42] pickfire commented on #75
Maybe there's something wrong with my vim 8.0 and neovim 0.1.5? Everyone reports that papercolor is broken and yet I still find it working nicely on both the raspberry pi and laptop.

[2016-09-21 15:10] taq commented on #75
@pickfire are you sure you got the last Papercolor commits? As I told you, I just isolated all my configs and plugins and just adding Papercolor didn't work.

[2016-09-21 17:33] pickfire commented on #75
@taq Yes, but I didn't isolate my configs and plugins. I use vim-plug here with quite a few addons.

[2016-09-22 20:15] ShengYun commented on #75
I've been looking into this issue, I have the current setup in my `vimrc`
[code]

I'm running neovim in tmux in gnome terminal which supports 256 colors, I found that the moment `hi Normal ctermfg=252 ctermbg=234` was executed, by `background` changed from `dark` to `light`.

Not familiar with viml but I'll try to look into what's happening.

This is the test code I used to verify, using the chang

[2016-09-22 20:27] ShengYun commented on #75
And btw I don't know why the script is loaded 3 times on my machine.

[2016-09-22 23:10] alexozer commented on #75
Maybe this was obvious, but I've noticed that placing `set background=dark`
after `colorscheme PaperColor` results in neovim starting with
background=dark. Of course this shouldn't be necessary though.

On Thu, Sep 22, 2016 at 4:27 PM Yun Sheng <notifications@github.com> wrote:

[2016-09-23 01:55] ShengYun commented on #75
@alexozer That would break the airline theme and some other colours.

[2016-09-24 21:38] evmorov commented on #74
Confirm that some of the last versions cause errors on neovim and the last one simply doesn't work.

If you use [vim-plug] (https://github.com/junegunn/vim-plug):

1. Edit your .vimrc: `Plug 'NLKNguyen/papercolor-theme', { 'commit': '867b051' }`
2. `:PlugClean`
3. `:PlugInstall`

[2016-09-26 01:58] NLKNguyen commented on #75
I think it's fixed now. Please check again.
@ShengYun how do you know it loaded 3 times? Btw, that function is indeed where the fix is located.

[2016-09-26 02:18] ShengYun commented on #75
@NLKNguyen Thanks it's fixed now.

I `echom` something in the function then `:message` shows three same things.

[code]

![screen shot 2016-09-25 at 10 17 25 pm](https://cloud.githubusercontent.com/assets/1317203/18820698/defd383a-836d-11e6-8754-c94874404734.png)

Btw why does highlighting normal change `background`?

[2016-09-26 02:46] NLKNguyen commented on #74
I added the code to handle NVIM with `termguicolors` option. Please check again to confirm.

[2016-09-26 02:59] NLKNguyen commented on #75
I think it's a Vim defect that in order to switch background correctly in terminal, the background needs to reset after `Normal` group highlighting is set. #20
Because of that part, the theme is reloaded a couple times which is why the function get called that many times. I took that part out because of this deficiency but didn't test again. Now I just put it back.

Glad it works.

[2016-09-26 02:59] #75 closed

[2016-09-26 03:01] #48 closed

[2016-09-26 07:56] paupalou commented on #74
hey @NLKNguyen , it seems that now works correctly but some color has changed, for example the background is darker (i prefer it like now btw) , and another color i noticed is the signs at left of line numbers with plugins like vim-signify.

Thanks for fixing

[2016-09-26 11:58] taq commented on #75
Yay, fixed, thanks! :-)

[2016-09-26 14:13] telemachus commented on #74
@NLKNguyen Appears to work here for me as well. Thanks for the extra work on this.

[2016-09-26 20:18] NLKNguyen commented on #74
You all are welcome. Thanks for the report and details. I'm closing this.

@paupalou Yeah, indeed some colors have changed. I'm revising the whole thing. There were inconsistency between 256 and GUI colors before, but now they are consistent. I'll eventually touch those plugins. One recent change was for vimdiff colors.

[2016-09-26 20:18] #74 closed

[2016-09-29 11:06] drzel opened #76 "Error message on launch"
Vim 8.0.13 throwing below error message with `colorscheme PaperColor` and `set termguicolors`.

[code]

[2016-09-29 14:03] pickfire commented on #76
@drzel Please check previous issues, this might be duplicated. If so, please close this issue.

[2016-09-29 16:03] NLKNguyen commented on #76
Are you using the latest one, @drzel ?

[2016-09-29 16:15] drzel commented on #76
Yep, I just upgraded my neovim, vim, uninstalled and reinstalled the plugin and found this error occuring in all versions.

[2016-09-29 16:17] drzel commented on #76
I can also get the error to appear inside the application by issuing `set background=light / dark`.

[2016-10-14 09:06] Leeiio commented on #76
+1
I meet this problem today,my solution is delete `set termguicolors` in you vimrc. Hope it will help you :)

[2016-10-15 01:49] #76 closed

[2016-10-15 01:56] NLKNguyen commented on #76
If there is still problem after the merge, I'll reopen the issue.

[2016-10-15 02:17] drzel commented on #76
Works great. Thanks!

[2016-10-25 04:18] thirtythreeforty opened #78 "Color override regression"
The recent commit 4766a846ba6117d01d1a232f992fa0d21c2e6275 has broken the color-override functionality introduced as a result of #26.

Specifically, I was using the following chunk of VimL to preserve my terminal's translucent background color.

[code]

My terminal now becomes opaque when using PaperColor.  I'm not exactly sure what broke.

Alternatively, if there's a better way to do this now, I'

[2016-12-20 15:10] pickfire opened #81 "PaperColor theme for kakoune"
Hi, having papercolor ported to http://kakoune.org/ would be nice as the editor seems better than vim in some cases and worse in some cases. Well, I personally doesn't use it much yet as compared to neovim and vis so I am not planning to port it myself.

[2016-12-27 00:35] NLKNguyen commented on #81
I don't use that many editors either, so I don't have a plan to port the theme there. My current work on this theme to make it easier to generate for other environments is not progressing because I have some work to do in the moment. I plan to resume next Spring.

[2016-12-27 00:35] #81 closed

[2016-12-27 14:50] thirtythreeforty commented on #78
Any comments on this?

[2016-12-29 03:57] NLKNguyen commented on #78
Sorry for a very late response, I thought I would take care of this but got caught up on things.
The instruction in README is for version 0.7 and earlier. For the current revision of PaperColor, I haven't done that overriding option yet. It will be available for sure but not soon, I'm afraid.
Once I add it, I will announce here also, so you will get notified.

[2017-02-10 15:55] j0hannes opened #83 "Two types of background color"
I've only seen this using the papercolor scheme:

![screenshot_20170210_165236](https://cloud.githubusercontent.com/assets/3944397/22833299/a63c9076-efb1-11e6-9d05-155501baf429.png)

[2017-02-11 03:16] NLKNguyen commented on #83
What is your environment (OS, terminal emulator, tmux or not, etc.)?
Does it go away if you change background back & forth (:set background=light/dark)?

[2017-02-11 20:43] j0hannes commented on #83
I see the same behaviour on two configurations:

1) yakuake on Arch, using tmux and screen inside
2) iTerm2 on OSX, using only screen

Interestingly, everything seems to be OK if I skip tmux under linux. On OSX, I usually don't use tmux and still see the same pattern.

Changing the background option doesn't help.

[2017-02-12 15:25] pickfire commented on #83
@j0hannes Can you try not to use screen screen? What's your `$TERM` in screen and tmux? Can you try `set t_Co=256` or `set termguicolor` (if you use a true color terminal)? What's your vim or neovim version?

[2017-02-12 16:57] j0hannes commented on #83
* vim version is 7.4.576
  * `set t_Co=256` has no effect
  * `set termguicolor` isn't recognized by vim
  * `$TERM` is `screen-256color-bce` inside screen and `xterm-256color` outside
    *  overwriting `$TERM` aka `TERM=xterm-256color vi ...` has no effect
  * not using screen also has no effect
    * those fragments only disappear if I don't use tmux, but only on Arch (doesn't help for OSX)

[2017-02-14 04:06] pickfire commented on #83
@j0hannes What terminal are you using? When it is working, what type of environment (os, term, `$TERM`, multiplexer) is it on? And on what type of environment does it break? I am a bit confuse now.

And if you are on tmux in Arch, try setting the `$TERM` to `screen-256color` because IIRC there some some problems with tmux terminfo being too new.

[2017-02-14 20:32] NLKNguyen commented on #83
@j0hannes try running this command and please post your screenshot. It will not be nice, but I only want to know if it helps unify the background colors.
[code]

[2017-02-16 19:30] j0hannes commented on #83
Yes, that helps:

![screenshot_20170216_202941](https://cloud.githubusercontent.com/assets/3944397/23037465/bb6e1b34-f486-11e6-9c2f-b805180a02c8.png)

[2017-02-16 19:35] j0hannes commented on #83
@pickfire It breaks in both configurations that I describe in my second post. One is with the other without tmux.

I already let tmux pretend to be screen:
`set -g default-terminal "screen-256color"`

Inside screen, it's set to `screen-256color-bce`.

[2017-02-18 04:20] pickfire commented on #83
@j0hannes Looks like @NLKNguyen answer helps. Maybe you can also look at http://stackoverflow.com/questions/4325682/vim-colorschemes-not-changing-background-color/23982923

[2017-02-21 06:33] NLKNguyen commented on #83
I will try to fix this. I use iTerm2. Could you list the minimal steps to reproduce this issue? I haven't used screen. So if it's can be replicated with tmux, it's better.

[2017-02-21 18:08] j0hannes commented on #83
On Arch, I get the faulty background when performing the following steps:

1. Open tmux (`$TERM` is `xterm-256color`)
2. Open vim (minimal vimrc to reproduce the error below)

This is how the result looks like:
![screenshot_20170221_190331](https://cloud.githubusercontent.com/assets/3944397/23177808/7dceb0a0-f868-11e6-87a3-03287bf4fd67.png)

[code]

[2017-02-21 19:17] NLKNguyen commented on #83
I couldn't reproduce that in either iTerm2 or default Terminal app on Mac. I tried reducing colors and stuff but couldn't get the behavior. I remember I got into similar backgrounds issue when I use Windows Putty to SSH to a Linux box. I believe it's because of the deficiency of terminal emulator. Quick solution is to use a better emulator.

Since I can't replicate the issue, right now I can only

[2017-02-21 19:25] j0hannes commented on #83
I see the same behaviour using iTerm2, so which better terminal emulator could I switch to?

I tried the latest commit but it didn't affect the background colours.

[2017-02-21 19:51] NLKNguyen commented on #83
I think I've just been able to replicate the issue in iTerm2. Might be applicable to other emulators.

Install & start up
[code]

In tmux session:

Here is how I couldn't see the issue

[code]

but if I set the TERM to xterm-256color
[code]

I get the problem
<img width="1022" alt="screen shot 2017-02-21 at 11 41 10 am" src="https://cloud.githubusercontent.com/assets/4667129/23181707/d1707754-f82a

[2017-02-21 19:58] NLKNguyen commented on #83
Another reference: http://superuser.com/questions/399296/256-color-support-for-vim-background-in-tmux
Seems like it's tmux environment setting issue. Strangely enough, I don't have any tmux custom settings, and I don't even use "tmux -2", but I didn't see the problem. It could be that new tmux updates already handle things better by default.

[2017-02-21 20:21] j0hannes commented on #83
Regarding the TERM setting, I remember that I had to set it to a 256 color profile in order to allow for full colour support in some applications. But that was a long time ago; maybe it's not necessary anymore.

In addition, I see the same behaviour using iTerm2 and screen.

What does `hi Normal ctermbg=none` do? When I put it to my vimrc everything looks fine.

[2017-02-21 23:31] NLKNguyen commented on #83
That command sets the normal text background to nothing, i.e. transparent, so the terminal background will be used and not the theme background color.

I added an option to use terminal background. Put this in your `.vimrc`
[code]
If you want the exact background color like the dark theme, then set your terminal background to this `#1c1c1c`

[2017-02-22 17:42] j0hannes commented on #83
That looks good now 👍

I still wonder why some whitespaces are printed with a different background colour (or without).

[2017-02-22 19:46] NLKNguyen commented on #83
I don't really know. Probably just old code. Hope it will become less of a problem in future software updates.

Glad it works now 😄

[2017-02-22 19:46] #83 closed

[2017-02-23 15:31] markwu opened #85 "PaperColor theme breaks YouCompleteMe syntax completion"
I use YouCompleteMe as my completion engine, it will collect my tags and syntax keywords as completion source.

I just found, if I use PaperColor as my color scheme, it will break YouCompleteMe syntax keywords completion.

Here comes the minimal vimrc for testing:

[code]

You can repeat the following steps to reproduce this bug (Disable papercolor theme first):
1. vim test.php and hit `<i>` go to

[2017-02-23 15:46] markwu commented on #85
Here comes the screenshots:

Without PaperColor theme
![2017-02-23 11 43 03](https://cloud.githubusercontent.com/assets/196861/23266198/0603db52-fa22-11e6-853d-4c0a0f734ebd.png)

With PaperColor theme
![2017-02-23 11 43 40](https://cloud.githubusercontent.com/assets/196861/23266197/06006814-fa22-11e6-92ef-a23b7eb8947c.png)

Forgot to mention my environment:
`OS`: MacOS Sierra 10.12.3
`vim`: MacVim

[2017-02-24 19:18] thirtythreeforty commented on #78
So a trivial workaround for this is adding the following autocommand before setting a color theme:

[code]

I think this is sufficient for the time being; anyone else feel free to comment and I'll reopen.

[2017-02-24 19:18] #78 closed

[2017-03-01 11:02] NLKNguyen commented on #85
I'll look into it. Somehow I missed the notification of this post.

[2017-03-19 10:22] heelsleeh opened #89 ""FoldColume" doesn't transparent in tablist"
os: openSUSE
terminal: urxvt
issue:  "FoldColumn"?(i'm not sure this highlight section name) doesn't transparent,see the screenshot below
![heelsleeh-2017-03-19-18 13 33](https://cloud.githubusercontent.com/assets/24011272/24080157/105867ac-0cd4-11e7-87c5-ed443c6d3842.png)

here is my settings of transparent code  in vimrc

let g:PaperColor_Theme_Options = {
  \   'theme': {
  \     'default.dark'

[2017-03-21 04:49] NLKNguyen commented on #89
Please try again with the latest commit to see if it is solved. I forgot how to display the foldcolumn in Vim, so I just based on the color name.

[2017-03-21 06:39] heelsleeh commented on #89
@NLKNguyen thanks for your reply, i tried the latest commit seems got a problem now, when i type vim got a lert like this:

[zosy@heelsleeh ~]$ vim

FoldColumn     xxx term=standout ctermfg=14 ctermbg=242 guifg=Cyan guibg=Grey
FoldColumn     xxx term=standout ctermfg=14 ctermbg=242 guifg=Cyan guibg=Grey
Press ENTER or type command to continue

[2017-03-21 23:41] NLKNguyen commented on #89
I just fixed the part that caused that error. Please try again. Btw, how to show that grey area?

[2017-03-22 01:32] heelsleeh commented on #89
no error but not transparent,  add **set foldcolumn=1** to your .vimrc  to enable it

[2017-03-24 22:14] NLKNguyen opened #90 "Screenshots"
Upload screenshots or medias here to get direct links

[2017-03-24 22:14] #90 closed

[2017-03-24 22:15] NLKNguyen commented on #90
**Vimdiff** w/ git tool

<img width="1269" alt="screen shot 2017-03-24 at 3 03 13 pm" src="https://cloud.githubusercontent.com/assets/4667129/24315492/9410c372-10a4-11e7-84c7-8846984bdca0.png">
<img width="1273" alt="screen shot 2017-03-24 at 3 01 59 pm" src="https://cloud.githubusercontent.com/assets/4667129/24315493/94122816-10a4-11e7-8d3f-f5d92a064a14.png">

[2017-03-24 22:32] NLKNguyen commented on #89
Please try again now.

[2017-04-04 03:17] heelsleeh commented on #89
works fine now, thanks

[2017-04-04 03:17] #89 closed

[2017-04-06 04:56] robert-claypool opened #92 "Is Load_Settings_Override Dead Code?"
I'm not entirely sure about this, but it looks like the [Load_Settings_Override function](https://github.com/NLKNguyen/papercolor-theme/blob/master/colors/PaperColor.vim#L611) is unreachable. Previously, it would be called for an override like this:

[code]

...but I think that's no longer possible. Load_Settings_Override is not called and there's no alternative way to override the background.

[2017-04-07 20:00] NLKNguyen commented on #92
Yes, it's dead code now. There is a new way to override settings as noted in the current README. Not many of the previous options are available yet, but feel free to make a request issue so that I know someone needs that in order to work on :)

[2017-04-16 09:51] silenc3r opened #93 "Add support for Neovim terminal colors"
Please add support for Neovim terminal emulator colors. It can be done with adding something like this:

    let g:terminal_color_0  = '#2e3436'
    let g:terminal_color_1  = '#cc0000'
    let g:terminal_color_2  = '#4e9a06'
    let g:terminal_color_3  = '#c4a000'
    let g:terminal_color_4  = '#3465a4'
    let g:terminal_color_5  = '#75507b'
    let g:terminal_color_6  = '#0b939b'
    let g:termi

[2017-04-26 21:05] DerWeh opened #94 "Python builtin highlight"
The highlighting of builtins with python does not work.

I am using the [python syntax](https://github.com/hdima/python-syntax/) file as specified and have the options:

[code]

Using a different colorscheme fixes this problem, so it should be an issue of `papercolor`.

[2017-05-04 12:25] Dmole opened #95 "line 1979"
[code]

[2017-05-28 17:04] aceross opened #96 "[REQUEST] R syntax highlighting"
The syntax highlighting in R doesn't do very much with practically all functions unhighlighted. It's a minor gripe, as I really like this theme for things like C.

[2017-06-05 02:41] valihan-k opened #97 "[REQUEST] C# syntax highlighting"
It would be great if you could add C# syntax highlighting.

[2017-06-06 09:01] liuerfire commented on #94
same issue here :-(

[2017-07-26 20:53] #93 closed

[2017-07-26 20:58] NLKNguyen commented on #93
The PR seems to resolve this. Please check it out!

[2017-07-26 21:01] NLKNguyen commented on #96
Do you know a good R syntax plugin? I can target that. I doubt the built-in syntax file can do much.

[2017-08-02 20:07] chrisbra opened #99 "distribute with Vim?"
there is an [issue](https://github.com/vim/vim/issues/1665) open in the vim repository, to distribute more colorschemes with Vim. Would you kindly give your permission to distribute this colorscheme with Vim?

[2017-08-02 21:17] NLKNguyen commented on #99
I would love to see this color scheme distributed with Vim. You got my permission.

Currently this works identically for true color & 256-color, and it doesn't need more than 256-color. It also supports 8-color and 16-color by using the terminal colors, targeting default terminal color palette as seen in Windows Command Prompt or Mac Terminal.

Changing the terminal color palette will yield almost

[2017-08-03 05:50] chrisbra commented on #99
Great.

Well, I can collect your file and send it to Bram, or you can do it. I would prefer if you can do it, since you know obviously best, when it is kind of stable enough and of course you will know when to send updated themes to Bram for inclusion. If you would like to do it mention that this is for issue 1665 to fix it. thanks!

[2017-08-03 14:57] pickfire commented on #99
+1 to distributing more colorschemes but it's kinda slow to load papercolor theme.

[2017-08-03 20:26] NLKNguyen commented on #99
@pickfire Once it gets close to version 1.0, I will focus on optimization. Unfortunately, the progress is slow. I have another project https://github.com/NLKNguyen/papercolor-vim-precompiler to compile this PaperColor.vim to fast barebone highlight instructions without anything in between (well, probably 1 or 2 if-branches). The disadvantage is that the file size gets bigger, and the customization

[2017-08-03 20:28] chrisbra commented on #99
I don't think there is a problem. If there are several colorschemes with the same name, I believe the one earlier in the runtime path will be picked (which would usually be the one in ~/.vim/ rather then /usr/share/vim/vim80)

[2017-08-03 20:36] NLKNguyen commented on #99
@chrisbra I see. Cool. I'll send it to Bram. Thanks for the coordination work 😄

[2017-08-03 20:37] #99 closed

[2017-08-05 02:40] NLKNguyen commented on #95
The line number doesn't seem to map directly to the source code, or it might be resolved since then because I wasn't able to reproduce that error. I tried on Mac. Can you check this again with the latest commit?

[2017-08-05 02:54] #92 closed

[2017-08-08 16:35] Dmole commented on #95
Line 2005 is the current line number.
The issue happens on CentOS 6 which is supported until 2020.

[2017-08-14 03:22] NLKNguyen commented on #94
@pappasam could you please double check this?

[2017-08-14 03:25] NLKNguyen commented on #94
@DerWeh @liuerfire did you put that settings before or after `color PaperColor` ?
The settings have to be before `color PaperColor`.

[2017-08-14 03:38] liuerfire commented on #94
@NLKNguyen Oh, it works when put it after `color PaperColor`. Thanks  😄

[2017-08-14 03:40] NLKNguyen commented on #94
Great!! You're very welcome 😄

[2017-08-14 03:40] #94 closed

[2017-08-14 03:47] NLKNguyen commented on #95
Please try again. I made a small change. If that didn't work, I will get a Vim 7.4 to try out.

[2017-08-14 16:56] Dmole commented on #95
new line number "2026"
note that it's only an issue for `crontab -e` on CentOS.

[2017-08-18 20:06] pappasam commented on #94
@NLKNguyen just got back from vacation. Glad this was an easy fix though, and sorry for not responding!

[2017-08-18 22:53] NLKNguyen commented on #94
@pappasam No worry :) hope it was a nice summer vacation. I got back from mine a few days ago as well 😃

[2017-08-19 23:00] NLKNguyen commented on #99
The loading time is reduced a lot now. Please check again @pickfire

@chrisbra is there a window time for theme submission to Bram for next Vim release? I would like to improve the theme further before sending to him.

[2017-08-20 16:18] chrisbra commented on #99
no, don't know.

[2017-08-23 16:07] pickfire commented on #99
@NLKNguyen Yup, definitely a lot faster now compared to back then (but still the slowest file loaded on startup). It just appears, `nvim` startuptime shows:

    041.297  017.320  016.931: sourcing /home/ivan/.config/nvim/plugged/papercolor-theme/colors/PaperColor.vim

[2017-08-26 07:02] NLKNguyen commented on #99
It just has another major refactor for speed. Please check @pickfire
From what I see, the current speed is compatible with gruvbox, which was faster than the old version of PaperColor that doing much less than it is now  https://github.com/NLKNguyen/papercolor-theme/issues/28.

[2017-08-26 23:01] NLKNguyen commented on #90
<img width="829" alt="commit_msg_light" src="https://user-images.githubusercontent.com/4667129/29745716-9ba3f8be-8a77-11e7-9ee4-ee274241be4c.png">
<img width="827" alt="commit_msg_dark" src="https://user-images.githubusercontent.com/4667129/29745719-a38db34e-8a77-11e7-9b86-dc9ff42421ee.png">
<img width="1680" alt="agit_dark" src="https://user-images.githubusercontent.com/4667129/29745725-c05bb872-

[2017-08-27 13:05] pickfire commented on #99
Wow, now it's almost a 10x improvement over the original version. On my laptop:

    030.737  007.281  006.893: sourcing /home/ivan/.config/nvim/plugged/papercolor-theme/colors/PaperColor.vim

But on raspberry pi 2 there is noticable speed difference:

    350.376  095.841  091.063: sourcing /home/ivan/.config/nvim/plugged/papercolor-theme/colors/PaperColor.vim

But kinda still looks cool that fil

[2017-08-30 02:17] ployer900 opened #100 "set background-options not work"
let g:PaperColor_Theme_Options = {
  \   'theme': {
  \     'default': {
  \       'transparent_background': 1
  \     }
  \   }
  \ }
i add this into .vimrc files,but it doesn't works;the background color still using #eeeeee

[2017-08-30 02:33] #100 closed

[2017-08-30 05:14] NLKNguyen commented on #99
😄 Glad it turned out well. I had to learn Sed script to do the code transformation because the amount of code to be changed was huge. I'm actually surprised by the fact that it can be this fast despite doing a ton. The speed was a major concern as this theme becoming a framework for color themes, but now it is fine.

[2017-09-04 01:46] lemon0910 opened #101 "change background color"
hello, your theme is really nice, but I want to change the backgroud color to green,  like Red：199，Green：237，blue：204, so how can do this? thank you

[2017-09-13 04:04] NLKNguyen commented on #101
I will work on that to provide overriding options for all colors. I'll update here.

[2017-09-13 06:30] lemon0910 commented on #101
Thank you for great work

[2017-10-01 06:05] #101 closed

[2017-10-01 06:06] NLKNguyen commented on #101
Check out the DESIGN.md doc !

[2017-10-01 06:13] NLKNguyen commented on #101
Right now you have provide both the GUI color and 256 color like the doc says. In the future, only one of them is needed.

256 color table: http://www.calmar.ws/vim/256-xterm-24bit-rgb-color-chart.html

[2017-12-29 10:31] vbauerster commented on #67
@rr do you use fzf.vim plugin? If so try following:
[code]

[2017-12-29 12:06] vbauerster opened #104 "transparent_background not respected"
I use `neovim v0.2.2`, following is minimal setup:
[code]
Neovim starts with transparent background, despite `transparent_background` have been set to `0`.

[2018-01-02 14:45] katylava opened #105 "How do you write the #register method for your own theme?"
I have my own theme which stopped working when I upgraded. I get the error `E117: Unknown function: PaperColor_kyl#register`. Admittedly, I don't really know what [I'm](https://github.com/katylava/dotkyl/blob/5316ad54297a9400570051ff72aa81d51333e74a/nvim/init.vim#L140-L142) [doing](https://github.com/katylava/dotkyl/blob/5316ad54297a9400570051ff72aa81d51333e74a/nvim/pcthemes/kyl.vim).

[2018-01-02 20:44] NLKNguyen commented on #105
I haven't documented properly how to do that yet. The comment in the source code might be out dated. My current intention is to let custom theme to stand as a plugin for this theme (using `autoload`). I planned to create a sample theme as an example but didn't finish yet. I'll update sometime this month. Keep following up! I'll notify in this thread

[2018-01-16 08:49] sunaku commented on #76
This issue still occurs for me 😰 under NeoVim 0.2.2 (but not under Vim 8.0) when I use this colorscheme with the [quick-scope plugin](https://github.com/unblevable/quick-scope).  Removing the plugin fixes the problem, so they are somehow incompatible. 🤔

[2018-02-01 08:08] NLKNguyen commented on #105
Hi
Try this https://github.com/NLKNguyen/papercolor-theme/blob/master/DESIGN.md#create-your-own-theme
Example
https://github.com/NLKNguyen/papercolor-blue

The instruction is not complete yet. Replace 'blue' with your theme name in lowercase. You'll see the naming pattern from the example.

[2018-02-02 07:43] huangzonghao opened #106 "Missing color for python methods"
Missing color for python method
<img width="312" alt="screen shot 2018-02-02 at 2 42 30 am" src="https://user-images.githubusercontent.com/8278802/35722079-def2686c-07c2-11e8-98b9-10290f49d41e.png">

[2018-02-03 02:27] NLKNguyen commented on #106
Please post the text snippet so I can paste in my editor to check.
Btw, are you using any Python syntax highlighting plugin beside the builtin?

[2018-02-03 06:06] huangzonghao commented on #106
[code]
But I think it may not be the problem of papercolor? Cuz I just confirmed that the methods are also not highlighted in vim default themes. So it might be an issue of vim.

[2018-02-03 06:49] pickfire commented on #106
@huangzonghao I don't think the default python syntax support `numpy` package. Maybe if you added some python plugin for vim, it might have support for it. (nothing found from what I searched)

@NLKNguyen Adding support for `np` here would be so weird, I never seen other syntax highlighter that do this.

[2018-02-03 07:10] huangzonghao commented on #106
@pickfire Actually I think it's a pretty common practice?
<img width="341" alt="screen shot 2018-02-03 at 2 06 50 am" src="https://user-images.githubusercontent.com/8278802/35764058-143802ba-0887-11e8-928a-c36f39818ff9.png">

You see this is the same snippet rendered by sublime text with the base16-papercolor-light.tmTheme

So yeah, it should be the problem of the vim syntax engine. Also noticed t

[2018-02-03 07:31] pickfire commented on #106
@huangzonghao Most of the syntax in vim are manually specified to be highlighted. That is probably a wildcard in sublime but from what I recall, vim does not do that.

[2018-02-15 19:00] notaduck opened #107 "overriding colors doesn't work."
I have tried to change the background for the `default.light` by adding the folowing lines to my `.vimrc` file
[code]
But the background color doesn't change at all?

[2018-02-15 20:59] NLKNguyen commented on #107
Did you put it before the line `color PaperColor` ?

[2018-02-15 21:01] notaduck commented on #107
nope, I placed it below. in this order:

[code]

[2018-02-15 21:09] notaduck commented on #107
I tried to change `colorscheme` to `color` without succes.

[2018-02-15 21:37] NLKNguyen commented on #107
That's strange. I can see the background changed. I tested with GVim 8. What Vim are you using?

![image](https://user-images.githubusercontent.com/4667129/36282159-267ce724-1255-11e8-81c4-3167a4e3bb4d.png)

[code]

[2018-02-16 07:34] notaduck commented on #107
wow, this is really strange. I copied your settings above, and instead of the white background it became black..... here is the full [´.vimrc´](https://pastebin.com/Wrh1QWTS
![screenshot 44](https://user-images.githubusercontent.com/9454064/36297618-07c3527e-12f4-11e8-9ebc-6346e2ccce0d.jpg)

[2018-03-19 20:41] notaduck commented on #107
@NLKNguyen what terminal do you use? I might think it is my therminal which is causing the error since yours seem to work fine and gvim seems to do the job as well imgur.com/a/0kkik

[2018-03-20 03:08] NLKNguyen commented on #107
Yeah, I think I understand the issue now. That seems to me that it actually behaves correctly and not an error. Maybe I didn't state it clear enough in the instruction.

So basically, if your Vim has true color (GUI or NVim with true color on), then the hex option will be used, in this case a shade of gray (that is what I saw in my GVim).  Now if you are in a 256 terminal, the 256 option will be u

[2018-03-27 01:13] marcopaganini opened #109 "Signs column has the same color as the background"
The "signs" column on vim has the same color as the background. This makes it very confusing to edit code when signs are visible (as it blends with the background and looks like spacing).

I worked around it manually with:
[code]

But a more official solution would be better. :)

[2018-03-30 05:23] Matrix-Zhang opened #110 "[REQUEST] Rust syntax highlighting"
as the toipc

[2018-03-30 10:27] pickfire commented on #110
I like the syntax highlighting in rust's documentation, which is pretty much well designed.

@NLKNguyen Here are their docs page https://doc.rust-lang.org/ what do you think?

[2018-04-11 17:31] markand opened #111 "Wild menu colors problem if tgc is set"
Hello,

Thanks for this amazing color scheme. I have some troubles regarding the theme if `set tgc` is present in .vimrc. The wild menu does not have a selected foreground/background which make it difficult to see the correct line:

![highlight](https://user-images.githubusercontent.com/11919008/38633093-e5f9d866-3dbe-11e8-871e-67ed6739d3b1.png)

This has been seen in vim 8 in terminal.

[2018-04-18 05:13] huangzonghao opened #112 "The light scheme doesn't reflect difference in vimdiff"
This is when the cursor is off the line.
<img width="1273" alt="screen shot 2018-04-17 at 4 39 12 pm" src="https://user-images.githubusercontent.com/8278802/38912824-8f56c190-42a5-11e8-943b-1bcdd6760c06.png">

This is when the cursor is on the line.
<img width="1274" alt="screen shot 2018-04-17 at 4 39 20 pm" src="https://user-images.githubusercontent.com/8278802/38912826-909857bc-42a5-11e8-92ed-5

[2018-04-30 13:19] ldelossa opened #113 "base16 shell support"
Hello,

Searching threw github issues it looks like PaperColor does support base16. However I'm not quite sure how to get it to work with base16-shell. https://github.com/chriskempson/base16-shell

Is this currently possible?

[2018-06-02 01:58] NLKNguyen commented on #113
Yes and no, not yet. PaperColor does support terminal colors, so if you `set t_Co=16` or `set t_Co=8` then the terminal colors will be used, but the colors might not map nicely. The way base16 utilize terminal 16-color is different from how I utilize.

An effort that I didn't start yet is to provide a sample theme config for some popular terminal emulator. That will be equivalent to base16-shell i

[2018-06-02 07:25] NLKNguyen opened #115 "[HELP] making help page"
As PaperColor grows over the years, many features are added and documented in README and other markdown files. Eventually, a proper help page becomes necessary. Moreover, it's a good practice for a Vim plugin. I haven't created any Vim help page and certainly don't know how to make a good one, so I'd like some help adding a help page, maybe based on the existing document written in README.

Also,

[2018-06-10 01:39] NLKNguyen commented on #110
I've added Rust support. Vim 8 recognizes this language by default so no plugin needed. This is the most syntactically complicated language I've ever seen.

[2018-06-11 22:56] #110 closed

[2018-06-15 10:16] jonleopard commented on #113
I would also love to PaperColor implemented to work with base16-shell! I'll look into what @NLKNguyen said about mapping the colors correctly.

[2018-06-15 11:45] ldelossa commented on #113
Keep us posted, papercolor is IMO one of the best color schemes. Would love to have it work with my base16 setup

[2018-06-16 18:44] NLKNguyen commented on #113
@jonleopard Yes, please keep us posted. This is my reference to how the 16-color is intended https://github.com/NLKNguyen/papercolor-theme/blob/master/DESIGN.md

[2018-06-20 12:26] folixg opened #116 "Broken syntax highlighting for Python, when switching to other theme."
When I have a Python file open and switch from PaperColor theme to some other theme, the syntax highlighting doesn't work anymore.

Example:

1. Code as shown with 'default' vim colors.
  ![20180620-092802_scrot](https://user-images.githubusercontent.com/15685939/41658005-a1ef195e-7484-11e8-85e6-5c9625b6e428.png)

2. after `:colorscheme PaperColor`
  ![20180620-092819_scrot](https://user-images.gi

[2018-06-20 17:05] NLKNguyen commented on #116
Try `:e %` to see if the syntax colors come back. This issue is a well-known, but I'm not aware of any fix beside a workaround, or just keep using PaperColor indefinitely :)

[2018-06-21 07:24] #116 closed, assigned to nobody

[2018-06-21 14:25] folixg commented on #116
Interestingly, when switching to PaperColor and back again, after the workaround has been applied once, it doesn't work a second time.
But that's not something I would do very often, therefore I can live with it :)

[2018-07-12 17:38] jonleopard commented on #113
Just wanted to give everyone a small update.

I just submitted [pull request](https://github.com/chriskempson/base16-schemes-source/pull/39) to  base16's scheme source [repo](https://github.com/chriskempson/base16-schemes-source). Once it's approved, I can then start working with the base16 builders. If all goes well with building the base16 scheme, it should be available through base16-shell with

[2018-07-12 17:40] ldelossa commented on #113
@jonleopard you are an angel sent from above.

[2018-07-16 21:22] datelligence commented on #115
HI NKyle,  I was looking to message you to say thanks for sharing such a great color theme.  I Installed it,  worked as expected,  and now my VIM IDE looks better.  Thank you,  in doning, so looking to message you, I found this thread asking for contributors,  so I think that is fair to collaborate and I propose my self as a contributor to your wonderful project.

[2018-07-17 15:33] NLKNguyen commented on #115
@datelligence Great to hear that you enjoy this color scheme like I enjoy using it myself, which is why I keep improving it when I stumble upon a new set of languages or when users request. The progress is there but nowhere as quick as requests coming in. So, I'm looking forward to your contributions! Thanks :+1:

[2018-07-18 16:18] pickfire opened #117 "Modify Special and probably SpecialChar color"
So far from what I have seen in vim help file, I don't see highlighting for `helpSpecial` which is aliased to `Special` (e.g. `<i>` in `Press <i> to enter insert mode`).

Is there any reason why `Special` and `SpecialChar` is set to `s:fg_foreground` in the first place? If we were to set them, maybe different color?

Is there is a reason and it could not be changed, may I can send in a patch to ov

[2018-07-18 16:31] #49 closed

[2018-07-18 16:31] #70 closed

[2018-07-18 16:32] pickfire commented on #60
Not related to theme, probably need additional syntax support.

[2018-07-18 16:32] #60 closed

[2018-07-28 06:34] ds26gte opened #118 "A setting for the errormsg highlight group missing?"
It seems to pick Vim's default setting for `errormsg`, which doesn't seem to fit with the rest of the theme.

[2018-09-06 08:50] jonleopard commented on #113
Hello everyone,

My pull request was finally accepted, so you can now access the papercolor theme through any base16 builder tool. I'm currently using [base16-builder-typescript](https://github.com/golf1052/base16-builder-typescript).

After building the theme, you should manually copy the script to the appropriate directory so you can enable it. In my case, I'm using [base16-shell](https://github

[2018-09-13 15:17] stefanfrede commented on #118
Besides looking weird, the error message is sadly also unreadable ([screenshot](https://www.frede.io/img/20180913ScreenShot.png)). Otherwise, this is a great theme, and I love it!

[2018-09-14 10:55] stefanfrede commented on #118
I fixed it for me with this entry in my `.vimrc` ([screenshot](https://www.frede.io/img/20180914ScreenShot.png)):
[code]

[2019-01-02 08:59] mlopezgva opened #123 "Support for ASCIIdoc"
Hi!
Having restructured and MarkDown, asciiDoc could be the next in the light markup text family...
It would be wise to make it compatible with the "soon to be default" asciiDoc syntax extension (I use itmm/vim-asciidoc fork, because of folding).

Thank you.

[2019-03-08 14:40] jonleopard commented on #113
Gonna take another shot at this. @NLKNguyen, any chance I could get some pointers here?

[2019-03-17 20:07] NLKNguyen commented on #115
Solved with #125

[2019-03-17 20:07] #115 closed

[2019-04-29 10:30] #111 closed

[2019-05-06 08:23] sandangel opened #129 "Set italic font not work"
Hi, I have set the allow_italic option to 1 but italic font was not display. When I use gruvbox theme, the italic font is correctly displayed. Can we make italic font work like gruvbox?

[2019-05-25 11:43] babygau opened #130 "Allow option to hide tilde at the end of buffer"
Please add option to hide tilde at the end of buffer for better readability and UI.

I could do it manually in my .vimrc by override `EndOfBuffer` group

[code]

[2019-06-10 13:04] LunarWatcher commented on #67
I'm 99% sure this isn't an FZF problem, but rather an issue with the Papercolor bright theme and the Windows terminal system in general.

The problem is reproducible with both `set shell=cmd` and `set shell=powershell`, as well as the Linux system bash, likely because they all run on the same color system.

The main issue here is that both Powershell and cmd, of of the box, run dark color schemes.

[2019-08-09 17:00] cs-pchsu opened #134 "Can I apply the font color of README.md to specific extension name of file"
I find the font color of README.md very beautiful.
This color configuration seems to be used only in README.md.

Is there a way for me to specify the extension file name.
The file with this extension file name applies this color configuration.

![2019-08-10_000107](https://user-images.githubusercontent.com/21957111/62795095-7e9f1c80-bb08-11e9-9f07-089093fb5001.jpg)

thank you for help

[2019-08-10 01:41] cs-pchsu commented on #134
OK，

I find a solution by myself installing a plugin as bellow
https://github.com/plasticboy/vim-markdown#basic-usage

[2019-08-10 01:41] #134 closed

[2019-08-23 13:10] sethwoodworth opened #135 "Blogpost domain expired"
In your readme the link to your blogpost: http://nlknguyen.com/2015/05/21/vim-paper-color-theme/ goes to an expired domain.  The [Wayback Machine has a copy](https://web.archive.org/web/20160403142726/http://nlknguyen.com/2015/05/21/vim-paper-color-theme/)  Would you prefer to re-host your blog on github pages, or link to the archived copy of your post?

[2019-09-18 02:23] #129 closed

[2019-09-27 19:33] NLKNguyen commented on #134
Great! Sorry for the late reply, but glad that you enjoy the theme and found the solution 👍

[2019-09-27 19:38] NLKNguyen commented on #135
Hi, yeah it's expired, and I forgot to edit the link. The content is actually still hosted on the main server here https://nlknguyen.wordpress.com/2015/05/21/vim-paper-color-theme/

I'm taking note to update it along with the next commit :)
Great finding on the archive website btw. I didn't know that.

Thanks!

[2019-10-10 01:57] #135 closed

[2019-11-12 20:41] NLKNguyen commented on #130
Did this PR #127 solve the issue?

[2019-11-22 09:51] JezuzStardust opened #138 "[REQUEST] LaTeX syntax highlighting"
Would it be possible to add native LaTeX syntax highlighting for this? LaTeX has a default built-in syntax file, but this colorscheme does not look seem to work very well for it at the moment (as perhaps can be expected).

[2019-12-07 12:07] loustak opened #139 "Incorrect cursor color"
Hello, the cursor color is not matching the one seen in the pictures of the readme.
![image](https://user-images.githubusercontent.com/11078371/70374437-537bdc80-18f2-11ea-957e-0673eea8ad34.png)
As you can see the cursor color is really close to the background color and make it hard to find on the screen. Any ideas ?

I'm using vim inside the st terminal emulator.

[2019-12-07 12:30] loustak commented on #139
It seems that switching the st colors to solarized fixed this problem. So it looks like the cursor colors depends on the color of the terminal.

[2019-12-07 12:30] #139 closed

[2019-12-07 12:41] loustak commented on #69
I would definetly like an st patch with papercolors !

[2019-12-07 16:50] pickfire commented on #69
I think I did it back then but it may be gone now, the colors does look a bit weird.

[2019-12-15 14:26] loustak commented on #69
I think I managed to do something ok, here is my config for the light theme in st:
![image](https://user-images.githubusercontent.com/11078371/70864006-59a33600-1f4e-11ea-8105-d2f19cde5523.png)

Results in ranger (a file browsing app):
![image](https://user-images.githubusercontent.com/11078371/70864039-af77de00-1f4e-11ea-892b-35aa0ef0b044.png)

And for dark:
![image](https://user-images.githubuse

[2020-02-17 21:42] djsavvy opened #141 "Is there a way to disable spellcheck fg/bg color changing (not underline) purely from nvim.init?"
I am trying to disable changing the background/foreground color of text due to spellchecking (but keep the red squiggly underlines); I realized I can do this by commenting out the following lines in `PaperColor.vim`:

[code]

However, this requires editing the plugin file itself, which might get overwritten by an update. Is there a way to disable the color changing for a specific plugin (i.e. spel

[2020-04-01 22:18] zelhar opened #144 "When Switching from Papercolor to another Theme some highlights are lost"
I installed Papercolor on Neovim. The issue is that if I set colorscheme Papercolor, if I change to another colorscheme, some of the highlights just don't work. Specifically I noticed that the headlines of a markdown (.md) filetype are no longer highliighted (in the other colorschemes). Switching back to Papercolor seems to have no issues. So I think the theme changes some settings that are not re

[2020-04-08 12:06] dr-costas opened #145 "Color of line numbers"
Hi,

Thank you for this nice plugin. Is there a way to change the color of the line numbers? I'm using them heavily (both relative and absolute) and the current color makes them difficult to read, when using the light background.

[2020-04-08 12:27] dr-costas commented on #145
Found it! :)

[2020-04-08 12:27] #145 closed

[2020-04-09 08:25] MaxG87 commented on #112
I noticed that the colour scheme [gruvbox](https://github.com/morhetz/gruvbox) as well as some of the builtin schemes, e.g. blue and default, do not suffer from this problem.

[2020-04-09 08:34] MaxG87 opened #146 "Python keywords not highlighted"
PaperColor seems to lack support to highlight keywords in Python.

![faulty-highlights](https://user-images.githubusercontent.com/5477952/78874984-7dced980-7a4d-11ea-8c7d-10f8f3f87758.png)

One can see that highlighting of `import` and `not in` works. The others have the colour of plain text only.

[2020-04-09 08:58] MaxG87 opened #147 "Spelling mistakes on current line not highlighted with cursorline"
I am using `set cursorline` and `setlocal spell`. When there is a spell error somewhere, it is nicely highlighted. Unfortunately if a spelling error is on the same line as the cursor, the line is indistinguishable from normal lines.

![spellmistake-highlighting](https://user-images.githubusercontent.com/5477952/78877295-ec616680-7a50-11ea-9daa-8722fce8dfcd.png)

I suspect this issue is closely rel

[2020-04-11 16:04] pickfire commented on #147
Weird, I cannot reproduce this with vim and neovim.

![2020-04-12-000243_564x340_scrot](https://user-images.githubusercontent.com/4687791/79048627-ffdb2000-7c50-11ea-9870-5856855f2734.png)

[code]

@MaxG87 Can you please provide a sample vimrc to reproduce this?

[2020-04-12 19:55] MaxG87 commented on #147
The error reported here does not appear with NeoVim for me neither. Weirdly, your minimal `.vimrc` is sufficient to reproduce for me. I also tried `gvim -u test.vim test.txt` with that minimal `.vimrc` and the error appears just like in the terminal version.

Thus I think I should give more information about my system.

I use Ubuntu 19.10.

[code]

Is there something more I should provide?

[2020-04-13 02:06] pickfire commented on #147
[code]
Maybe it's fixed in vim?

[2020-04-13 08:59] MaxG87 commented on #147
On my machine with Debian Testing (_VIM - Vi IMproved 8.2 (2019 Dec 12 kompiliert am Mar 24 2020 03:21:40)_) the highlighting works correctly too.

It might be that the reported error does not occur in Vim 8.2 and NeoVim. However, the reported behaviour does not occur in Vim 8.1 with other colour schemes, e.g. gruvbox.

[2020-04-13 09:04] MaxG87 commented on #112
Analogous to #147, vimdiff colours work out well for Vim 8.2 and NeoVim 0.3.8.

[2020-04-13 16:26] muv1 opened #148 "Error detected while processing function"
If I have a `vimrc` like this:

[code]

I get this result:

[code]

[2020-04-22 05:15] krader1961 commented on #148
Using Vim 8.2 on macOS with `colorscheme PaperColor` in my *~/.vim/vimrc* results in

[code]

The Vim session is still usable. You need to provide a lot more information about your environment when opening issues like this one. See, also, https://github.com/elves/elvish/issues/981.

[2020-04-22 11:44] muv1 commented on #148
@krader1961 it seems you dont have experience installing themes.

As in my case, the Editor has found the them, but has error rendering it. While in your case it appears you havent even properly installed the theme, as the Editor has not found it. Please try successfully installing the theme, and then let me know if any other errors pop up. Thanks!

[2020-04-27 15:36] bronzehedwick opened #150 "Improve neovim terminal colors"
There's a TODO to fix the neovim terminal colors. https://github.com/NLKNguyen/papercolor-theme/blob/ddd09867ed4e020b3ba2eb47dc3ef365da5b0fed/colors/PaperColor.vim#L1087

I'm not sure what the colors should be, but the Alacritty theme, which also supports true color, has different color output. https://github.com/eendroroy/alacritty-theme/blob/master/themes/papercolor_light.yaml

[2020-04-28 13:43] pickfire commented on #150
Is there any issue with the colors?

[2020-05-02 12:05] ea2809 commented on #146
If you want the best syntax for python: https://github.com/numirias/semshi

[2020-05-02 12:18] TerryChau commented on #141
I am having similar issues, and two ideas come to mind.  However, neither of them worked as planned.  The suggestions below is an attempt to set the background color to white.

Idea 1 is to run `hi spellbad guibg=#ffffff` using autocmd.  The other is to change `'override'` in `g:PaperColor_Theme_Options` to include `'spellbad': ['#FFFFFF','15']`.

However both these changes affect the foreground c

[2020-05-02 15:52] ea2809 commented on #106
I do know is late, but if you want better python syntax try [Semshi]( https://github.com/numirias/semshi)

[2020-05-03 14:32] pickfire commented on #146
@ea2809 I feel like semshi is using too much colors.

[2020-05-05 08:43] glepnir opened #151 "Why papercolor fast to load."
@NLKNguyen  Thanks  for your greate work. I used to use papercolor for a long time.
Now I made a new colorscheme [oceanic-material](https://github.com/hardcoreplayers/oceanic-material), reference papercolor #28 ， I refactor it,  But there is still a gap between speed with papercolor.
Thanks a lot for any help

[2020-05-05 15:43] NLKNguyen commented on #151
Thanks :) What I realized after many refactors is this https://github.com/NLKNguyen/papercolor-theme/blob/master/colors/PaperColor.vim#L903 Basically reduce function calls and especially if-branches inside those calls because those are very slow. That also means reduce object getters for the color codes to the minimum.

Btw, you can leverage all of PaperColor for your own color scheme like this ex

[2020-05-05 16:30] glepnir commented on #151
Thank you very much for your reply. I got these revelations from this issue, so I removed a lot of if, but it is still slower than papercolor, I just added an if to determine whether the variable is enabled.

[2020-05-08 05:53] pickfire commented on #151
@glepnir Wow, Gleipnir!

[2020-05-08 10:40] glepnir commented on #151
@pickfire  😄

[2020-05-08 10:40] glepnir commented on #151
@NLKNguyen  Thanks. now I got the same speed as papercolor-theme.

[2020-05-08 10:41] #151 closed

[2020-05-11 00:35] NLKNguyen commented on #151
Awesome! Congrats!

[2020-06-09 11:07] #130 closed

[2020-06-18 19:49] MaxG87 commented on #146
I just noticed that the problem described here is addressed in the README. Highlighting builtins is disabled by default and must be enabled explicitly. Note that enabling highlighting of builtins required installing the python-syntax plugin for me.

[2020-06-18 19:49] #146 closed

[2020-06-22 16:13] GABAnich opened #153 "Black symbols"
Closed

[2020-06-22 16:13] GABAnich commented on #153
I use `kitty` and `Vim8`

[2020-06-22 21:44] #153 closed

[2020-06-23 17:14] jerpint commented on #1
This plugin helped me resolve this issue:

https://github.com/vim-python/python-syntax/

[2020-07-01 21:40] Redfoggg opened #154 "C++ colors not working properly"
This is actualy one of the best themes around there, but for some reason the C++ syntax is not working properly...
![image](https://user-images.githubusercontent.com/32973761/86293921-f1563200-bbc9-11ea-838e-3af3be77d068.png)
You can see the problem in this example, i have almost every highlight i usualy like in this theme, but the object declarations is in plain text mode... all blank.
There is a

[2020-07-08 05:58] NLKNguyen commented on #154
I believe for C++you need some syntax plugin that integrates with a C++ compiler like https://github.com/ycm-core/YouCompleteMe for recognizing classes. Please try that first.

[2020-08-02 14:56] aderchox commented on #40
@NLKNguyen thank you for your great theme. Please add the light variant of this theme to the vim-airline-themes as well.

[2020-08-24 17:58] ming-codes opened #155 "Tabline inactive color broke on Neovim 0.4.4"
<img width="334" alt="Screen Shot 2020-08-24 at 10 57 19 AM" src="https://user-images.githubusercontent.com/706212/91079232-a6203480-e5f8-11ea-97b3-1f2c1ad4d283.png">

[2020-08-24 18:23] ming-codes commented on #155
This could be issue with https://github.com/vim-airline/vim-airline/issues/2215

[2020-08-24 18:23] #155 closed

[2020-08-27 08:04] flocc commented on #107
I encountered same problem. I solved this by manually copying theme into .vim/colors (instead of using vim-plug). Now override works.

[2020-09-16 05:44] yaegassy opened #156 "Using papercolor-theme causes the color to disappear in :terminal"
## Description

Here's a capture using the [tig](https://github.com/jonas/tig) command line tool as an example

Unfortunately, if you use "papercolor-theme", you won't be able to color in `:terminal`. :(

## Demo (Using papercolor) and vimrc

**minimal.vim:**

[code]

![papercolor-issue-01](https://user-images.githubusercontent.com/188642/93296726-c8d5ef80-f82a-11ea-94a9-842ecbe3ada3.gif)

## Demo

[2020-09-29 04:38] yueyingjuesha opened #157 "[BUG] syntax can't be correctly highlighted"
Hi, it seems like whenever I use this theme, the syntax can't be correctly highlighted, only after I run source ~/.vimrc, the syntax can be correctly loaded

[2020-09-29 05:50] #157 closed

[2020-09-29 05:51] yueyingjuesha commented on #157
solved, if you setup a 24 bit gui color, you need to set it first before setting colorscheme

[2020-09-29 06:45] yueyingjuesha commented on #154
I have used some c++ highlight plugins such as:
https://github.com/octol/vim-cpp-enhanced-highlight
https://github.com/bfrg/vim-cpp-modern
which provides much richer functions of c++ highlighting than paper-color-theme built-in cpp syntax highlight, but none of them work under papercolor-theme, do you know how to make those plugins work?

[2020-09-29 07:49] yueyingjuesha opened #158 "Set background color in same words"
I noticed that in cpp code when I place the cursor under a variable name,  all the variable with the same name in the same cope changed its background color a little bit(from white to light grey), I am wondering how do I change this background color?
Thanks

[2020-09-29 08:03] #158 closed

[2020-09-29 08:04] yueyingjuesha commented on #158
never mind, it's a plugin coc.nvim functionality:
`autocmd CursorHold * silent call CocActionAsync('highlight')
`

[2020-11-01 15:43] carmensitaSenorita opened #160 "papercolortheme"

[2020-11-09 00:33] NLKNguyen commented on #160
What is the issue? I don't see any description.

[2020-11-09 20:06] #160 closed

[2020-11-11 19:45] vignesh0025 commented on #138
Please consider the same.

[2020-12-02 02:45] NLKNguyen commented on #90
![PaperColor](https://user-images.githubusercontent.com/4667129/100821515-6346d780-3405-11eb-882f-405c8d66a2b6.png)

[2020-12-04 20:09] NLKNguyen commented on #90
![68747470733a2f2f636f6e7472696275746f72732d696d672e7765622e6170702f696d6167653f7265706f3d4e4c4b4e677579656e2f7061706572636f6c6f722d7468656d65](https://user-images.githubusercontent.com/4667129/101209938-8520a400-3629-11eb-8b76-328e5b665a6c.png)

[2020-12-04 20:33] NLKNguyen commented on #90
![contributors](https://user-images.githubusercontent.com/4667129/101211709-72f43500-362c-11eb-84d3-bf29fdde8491.png)

[2020-12-30 20:59] LunarWatcher opened #161 "Papercolor doesn't render `helpStar`s and `helpBar`s properly"
gVim 8.2.2018, Linux Mint 20.

I've found myself writing a lot of help files recently, and I've run into an annoying bug. This has been present for quite some time, but I haven't bothered reporting it because I didn't spend too much time modifying help files.

Note that the results here assume `set concealcursor=`.

This is what it looks like with onehalflight:

![image](https://user-images.github

[2021-01-04 04:20] zedtang opened #162 "Add support for Termdebug highlight groups"
Hi there, big fan of the theme! Here I have a feature request.

In vim 8.1 `termdebug` is introduced for debugging in vim. There are those two highlight groups for `debugPC`(current line) and `debugBreakpoint`(highlight of breakpoint line in the gutter).
https://github.com/vim/vim/blob/master/runtime/pack/dist/opt/termdebug/plugin/termdebug.vim#L83-L93

Since the color theme does a `hi clear` at t

[2021-01-06 05:20] #156 closed

[2021-02-04 07:34] zedtang commented on #162
Actually I figured it out. It was because I was setting `packadd termdebug` before setting colorscheme, which pulled in termdebug and its highlight settings, and then papercolor's `hi clear` cleared everything. So I removed that and now it's all working. Sorry about that! 🙂

[2021-02-04 07:34] #162 closed

[2021-02-07 22:24] rel1c opened #163 "Missing highlighting for Python's 'bool' type and 'NoneType'"
PaperColor is failing to highlight keywords that are highlighted in every other stock Vim color scheme. Why are these keywords missing?

[2021-02-08 16:07] pickfire commented on #163
The developer may have missed it or it may be the new ones, maybe you can send a pull request for these, or maybe it is purposely done without color.

[2021-02-23 03:50] g6ai commented on #138
Thanks for this most beautiful theme! I also think support for LaTeX is worth doing, right now the spell check curly underline has a background highlighting overlay, which looks a bit unbalanced.

[2021-02-25 16:38] #163 closed

[2021-03-08 05:07] reportaman commented on #138
+1, having more LaTeX support will be great!

[2021-03-23 21:56] jmrussell opened #166 "Reduce brightness in nvim terminal output"
Is there a way to reduce the brightness of this text? It's almost impossible to read. This is an R session running in nvim's terminal emulator.

![image](https://user-images.githubusercontent.com/8886267/112224024-b59c4600-8bf8-11eb-8cff-02ec725e6e6b.png)

[2021-03-30 05:14] fedorenchik opened #168 "WinBar colors do not match color scheme"
### Actual Result
WinBar hightight colors (dark grey and light grey) left as defaults.

### Expected Result
WinBar highlight groups `ToolbarLine` and `ToolbarButton` set to colors matching PaperColor theme.

### Screenshot
![Screenshot from 2021-03-30 13-09-59](https://user-images.githubusercontent.com/391735/112937094-a158cb80-9159-11eb-8576-e92fe4101378.png)

### Machine Info
- **Vim type**: gvi

[2021-04-13 20:01] j-hui commented on #154
@yueyingjuesha I just came across this issue too, at least for `vim-cpp-enhanced-highlight`. The problem there is that a lot of highlighting links to `Function`, which PaperColor seems to define as the foreground color: <https://github.com/NLKNguyen/papercolor-theme/blob/master/colors/PaperColor.vim#L1209>

@NLKNguyen is there a recommended way to override this highlighting?

[2021-05-04 08:59] #161 closed

[2021-05-09 05:53] reportaman opened #169 "Error fetching resource for images that showcase colors in README"
The sample images for colors are not loaded anymore on the README page, upon clicking the link one gets error: "Error fetching resource".

<img width="1123" alt="Screen Shot 2021-05-08 at 10 52 22 PM" src="https://user-images.githubusercontent.com/71736629/117561986-48c9f780-b050-11eb-844a-2e564feae535.png">

[2021-06-16 05:53] passerbyxp opened #170 "Inconsistent CSS property name color"
This is what I got from papercolor (left) vs [vim-unicon](https://github.com/andbar-ru/vim-unicon) (right, which claims to have no language specific syntax):

<img src="https://i.imgur.com/KJnQm4e.png" alt="versus" />

As you can see, not all property names are using the same color, and `transparent` is highlighted like a property name, not a value.
(`12.5em` got highlighted into two different tok

[2021-06-27 19:37] zkamvar commented on #40
I'm also having this issue, but I'm experiencing the opposite of @aderchox.

No matter if I set background=dark or background=light, I always end up with the light variant of the airline theme.

My vimrc that controls this is here: https://github.com/zkamvar/config-files/blob/860d70daf5775fd5a9549f14f955997fd7a880aa/.vimrc#L168-L188

[2021-07-07 14:28] hellovimo opened #172 "vim-gitgutter support in papercolor theme ?"
Hello !

Any idea when the vim-gitgutter will be enabled in the papercolor theme by default ? Please let us know. Thanks.

[2021-07-08 07:13] emiel opened #173 "PureScript: Visually distinguish between type constructor and data constructor"
Currently the highlighting for the PureScript language assigns "pink" to both the type constructor and the data constructor. For example:

`data Tree a = Tip | Node a (Tree a) (Tree a)`

Here `Tree` is the "type constructor" (currently pink). `Tip` and `Node` are the data constructors (also pink). It would be nice to visually distinguish these because these are truly different concepts. Type and d

[2021-09-16 04:32] #169 closed

[2021-09-16 04:33] NLKNguyen commented on #169
Thanks for reporting. It's been resolved.

[2021-09-18 18:44] 89z opened #177 "link overrides dont work"
In another issue, someone suggested I could use a command like this to override a color:

[code]

in my `vimrc` file. However I noticed that if I also have PaperColor enabled, then any command like that is ignored.

[2021-12-09 08:57] gnur opened #179 "Certificate of background story expired"
The background story page: https://dephony.com/blog/software-updates/papercolor-theme-v1-0/ gives a certificate warning because the certificate expired 3 months ago.

[2022-01-10 05:20] PissMan420 opened #180 "Comment are not green with dark mode theme"
I am expecting to have the comment to be wrote in green when I use the dark theme of paper color however it is isn't green. What should I do?
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/37189791/148721247-f9d9aff9-2c5e-4920-957a-a9968dc2c126.png">
Here is my theme config:
[code]

[2022-03-17 23:28] NLKNguyen commented on #179
Thank you. It took me forever to finally set up an auto SSL renewal. I'm working on a new site that isn't Wordpress, so I haven't been attentive to the old blog page.

[2022-03-17 23:28] #179 closed

[2022-03-23 19:13] ug02fast commented on #177
call `hi link goPredefinedIdentifiers Keyword` only after the `syntax on` in your `.vimrc`

you might need the exclamation mark to override defaults too `hi!...`

[2022-03-24 12:44] 89z commented on #177
@ug02fast thanks for the comment, but I dont have `syntax on` in my `.vimrc` file.

[2022-03-24 23:52] ug02fast commented on #177
I had the same issue as you and this is what got it working for me.
![image](https://user-images.githubusercontent.com/5507707/160028265-7a55228a-af67-4f4f-a21d-bad0b711cc6e.png)

[2022-03-24 23:53] 89z commented on #177
@ug02fast thanks for the comment, but I dont have `syntax on` in my `.vimrc` file.

[2022-03-24 23:57] ug02fast commented on #177
Syntax on is what enables highlighting so you will need it unless I'm missing something.

[2022-03-24 23:59] 89z commented on #177
I dont think thats true, as I dont have it in my `.vimrc`, and I still have highlighting.

[2022-03-25 01:04] ug02fast commented on #177
It's possible that one of your plugins turns it on.

[2022-03-25 01:54] 89z commented on #177
I dont use plugins...

[2022-04-06 21:00] jorgediazjr opened #184 "TYPO: In README under the configure .vimrc section"
`set t_Co=256   " This is may or may not needed.`

should be

`set t_Co=256   " This may or may not be needed.`

[2022-04-07 05:26] NLKNguyen commented on #184
aren't they identical?

[2022-04-29 10:08] NLKNguyen commented on #172
Added support by PR #185

[2022-04-29 10:08] #172 closed

[2022-06-07 14:13] #177 closed

[2022-06-24 02:54] 416207298 commented on #154
I also have this problem, is anyone have a solution?

[2022-06-24 10:47] redfoggg commented on #154
Maybe not what you @416207298 are looking for, but I just don't use vim anymore, I guess some month's after opening this issue I switched to Neovim, nowadays nvim has Tree-sitter support which works pretty much with every set of colors out of the box, I don't use this theme anymore also, but I guess it works well with it too.
If you are not that into using vim you can try to switch to Neovim to ha

[2022-06-24 14:23] 416207298 commented on #154
You know what, I agree with you, buddy. I'll try.

[2022-07-01 02:11] xmready commented on #184
The first one is missing the word "be" and contains the word "is". In English the second one is better grammar.

[2022-07-29 13:15] henkloke opened #190 "output command :map poorly readable"
see https://tmpfiles.org/359651/map.png

[2022-07-29 13:36] henkloke commented on #190
more persistent image:
https://loke.name/blog/2022/07/29/output-map-command/

[2022-09-16 10:34] fho commented on #190
This is fixed for my in the master branch (9051480ad9129ff4ab4fffb38b44779b9081626f).
I did not investigate which commit exactly fixed it.

[2022-09-28 03:24] NLKNguyen commented on #184
Ah, got it. I didn't even notice the difference literally, not just grammar wise, when glancing over the correction you pointed out. Thanks. Will fix it when making an update!

[2022-10-09 21:10] alexeygumirov opened #191 "FloatBorder and NormalFloat background for lsp_signature #enhancement"
NeoVIM 0.8

I use *ray-x/lsp_signature.nvim* plugin for function definitions popups in the floating windows.
Additional parameters are required (as described in the relevant issue here: https://github.com/ray-x/lsp_signature.nvim/issues/193), because without them floating border looks like this:

![wrong_border](https://github.com/alexeygumirov/papercolor-theme/raw/master/no_params.png)

Borders f

[2022-10-11 21:10] NLKNguyen commented on #191
Can you make a PR for this, please?

[2022-10-11 22:38] alexeygumirov opened #193 "Please add colors for WinBar (NeoVIM 0.8 new feature)"
WinBar highlight group is needed.

Without WinBar highlight group, the WinBar uses standard background and does not stand out.
![no WinBar hl group](https://github.com/alexeygumirov/papercolor-theme/raw/master/no_winbar.png)

I made my own modification in the NVIM LSP section for WinBar,
[code]
With it WinBar looks a bit better:
![WinBar hl group](https://github.com/alexeygumirov/papercolor-theme/

[2022-10-20 11:40] jeschkies opened #194 "How can I change cursor color in Neovim Lua?"
:wave: I'm using Neovim and love this theme. However, the cursor is too light. How can I change its color via Lua?

[2022-10-20 18:35] NLKNguyen commented on #194
You can do it in VimL. I'm not sure how to do it via Lua in NeoVim.
There is instruction for overriding colors in README. You can look up names of colors you want to override here https://github.com/NLKNguyen/papercolor-theme/blob/master/colors/PaperColor.vim#L126 or here https://github.com/NLKNguyen/papercolor-theme/blob/master/DESIGN.md#color-names

Example:

[code]

[2022-11-28 15:41] mmrwoods commented on #141
This works for me...

[code]